{#筛选项 flags=0批量删除 ，1批量审核，其他企业信息#}
{% macro com_filter(endpoint,flags,citys,current_user,Permission) %}
    <div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.update_filter',flag=flags) }}">所有分类</a></li>
            {% if session['city']!=None %}
                <li><a href="{{ url_for('.update_filter',city='city',flag=flags) }}">{{ session['city'] }}</a></li>
            {% endif %}
            {% if session['name']=='asc' %}
                <li><a href="{{ url_for('.update_filter',name='name',flag=flags) }}"> 企业名称按拼音首字母升序排列</a></li>
            {% elif session['name']=='desc' %}
                <li><a href="{{ url_for('.update_filter',name='name',flag=flags) }}"> 企业名称按拼音首字母降序排列</a></li>
            {% endif %}
            {% if flags!=0 %}
                {% if session['students']=='asc' %}
                    <li><a href="{{ url_for('.update_filter',students='students',flag=flags) }}"> 累计实习人次按升序排列</a></li>
                {% elif session['students']=='desc' %}
                    <li><a href="{{ url_for('.update_filter',students='students',flag=flags) }}"> 累计实习人次按降序排列</a></li>
                {% endif %}
            {% endif %}
            {% if session['status']=='2' %}
                <li><a href="#"> 审核通过</a></li>
            {% elif session['status']!='2' and session.get('status')!= None %}
                <li><a href="#"> 审核不通过</a></li>
            {% endif %}
        </ol>
        <input style="float:right;" type="button" class="class1" data-toggle="collapse"
               data-target="#demo" id="sel" value="收起筛选"/>

    </div>

    <div id="demo" class="collapse in ">
        <div class="panel panel-danger">
            <div class="panel-body">


                <table>
                    <tr>
                        <th width="100">城市:</th>
                        {% for i in citys.keys() %}
                            {% if i<3 %}
                                <td width="200"><a href="{{ url_for(endpoint,city=citys[i]) }}">{{ citys[i] }}</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if 3 in citys %}
                            <td width="200">
                                <div class="first">
                                    <a>更多</a>
                                    <div class="second">
                                        {% for i in citys.keys() %}
                                            {% if i>2 %}
                                                <li style="list-style-type:none;"><a
                                                        href="{{ url_for(endpoint,city=citys[i]) }}">{{ citys[i] }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <tr>
                        <th width="200">企业名称：</th>
                        <td width="400"><a href="{{ url_for(endpoint,name='asc') }}">按拼音首字母升序排列</a></td>
                        <td width="400"><a href="{{ url_for(endpoint,name='desc') }}">按拼音首字母降序排列</a></td>
                    </tr>
                    {% if flags!=0 %}
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th width="200">累计实习人次：</th>
                            <td width="400"><a href="{{ url_for(endpoint,students='asc') }}">按人数升序排列</a></td>
                            <td width="400"><a href="{{ url_for(endpoint,students='desc') }}">按人数降序排列</a></td>
                        </tr>
                    {% endif %}
                    {% if current_user.can(Permission.COM_INFOR_EDIT) %}
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        {% if flags==1 %}
                            <tr>
                                <th width="200">审核状态：</th>
                                <td width="400"><a href="{{ url_for(endpoint,status=0) }}">待审核</a></td>
                                <td width="400"><a href="{{ url_for(endpoint,status=1) }}">被退回</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <th width="200">审核状态：</th>
                                <td width="400"><a href="{{ url_for(endpoint,status=2) }}">审核通过</a></td>
                                <td width="400"><a href="{{ url_for(endpoint,status=0) }}">审核不通过</a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            </div>
        </div>
        <p></p>
    </div>
{% endmacro %}