<!-- #flags=2日志 -->
{% macro intern_filter(endpoint,flags,grades,majors,classess) %}
    <div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.update_intern_filter',flag=flags) }}">所有分类</a></li>
            {% if session['myStudent'] %}
                <li><a href="{{ url_for('.update_intern_filter',myStudent='1',flag=flags) }}">我的学生</a>
                </li>
            {% endif %}
            {% if session['grade']!=None %}
                <li><a href="{{ url_for('.update_intern_filter',grade='1',flag=flags) }}">{{ session['grade'] }}</a>
                </li>
            {% endif %}
            {% if session['major']!=None %}
                <li><a href="{{ url_for('.update_intern_filter',major='1',flag=flags) }}">{{ session['major'] }}</a>
                </li>
            {% endif %}

            {% if session['classes']!=None %}
                <li>
                    <a href="{{ url_for('.update_intern_filter',classes='1',flag=flags) }}">{{ session['classes'] }}班</a>
                </li>
            {% endif %}
            {% if session['internStatus']!=None and flags<6 %}
                {% if session['internStatus']=='0' %}
                    <li><a href="{{ url_for('.update_intern_filter',internStatus='1',flag=flags) }}">待实习</a></li>
                {% elif session['internStatus']=='1' %}
                    <li><a href="{{ url_for('.update_intern_filter',internStatus='1',flag=flags) }}">实习中</a></li>
                {% else %}
                    <li><a href="{{ url_for('.update_intern_filter',internStatus='1',flag=flags) }}">实习结束</a></li>
                {% endif %}
            {% endif %}
            {% if session['checkStatus']!=None and flags==2 %}
                {% if session['checkStatus']=='0' %}
                    <li><a href="#">待审核</a></li>
                {% elif session['checkStatus']=='1' %}
                    <li><a href="#">已审核</a></li>
                {% endif %}
            {% elif session['checkStatus']!=None %}
                {% if session['checkStatus']=='0' %}
                    <li><a href="#">待审核</a></li>
                {% elif session['checkStatus']=='1' %}
                    <li><a href="#">被退回</a></li>
                {% else %}
                    <li><a href="#">已审核</a></li>
                {% endif %}
            {% endif %}
        </ol>
        <input style="float:right;" type="button" class="class1" data-toggle="collapse"
               data-target="#demo" id="sel" value="收起筛选"/>
    </div>
    <div id="demo" class="collapse in ">
        <div class="panel panel-danger">
            <div class="panel-body">
             <table>
                        <tr>
                            <th width="150">学生：</th>
                            <td width="150"><a href="{{ url_for('.update_intern_filter',flag=flags) }}">全体学生</a></td>
                            <td width="150"><a href="{{ url_for(endpoint,myStudent=1) }}">我的学生</a></td>
                            <td>
                            </td>
                        </tr>
                      <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                <table>
                    <tr>
                        <th width="100">年级:</th>
                        {% for i in grades.keys() %}
                            {% if i<5 %}
                                <td width="150" style="word-wrap:break-word;"><a
                                        href="{{ url_for(endpoint,grade=grades[i]) }}">{{ grades[i] }}级</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if 5 in grades %}
                            <td width="150" style="word-wrap:break-word;">
                                <div class="first">
                                    <a>更多</a>
                                    <div class="second">
                                        {% for i in grades.keys() %}
                                            {% if i>4 %}
                                                <li style="list-style-type:none;"><a
                                                        href="{{ url_for(endpoint,grade=grades[i]) }}">{{ grades[i] }}级</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    </table>

                    <table>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th width="100">专业:</th>
                        {% for i in majors.keys() %}
                                <td width="150" style="word-wrap:break-word;"><a
                                        href="{{ url_for(endpoint,major=majors[i]) }}">{{ majors[i] }}</a>
                                </td>
                        {% endfor %}
                    
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    </table>

                    <table>
                    <tr>
                        <th width="150">班级：</th>
                        {% for i in classess.keys() %}
                                <td width="100" style="word-wrap:break-word;"><a
                                        href="{{ url_for(endpoint,classes=classess[i]) }}">{{ classess[i] }}班</a>
                                </td>
                        {% endfor %}
                    </tr>
                    </table>
                    <table>
                    {% if flags<6 %}
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th width="150">实习状态：</th>
                            {% if flags<2 or flags>4 %}
                                <td width="150"><a href="{{ url_for(endpoint,internStatus=0) }}">待实习</a></td>
                            {% endif %}
                            <td width="150"><a href="{{ url_for(endpoint,internStatus=1) }}">实习中</a></td>
                            <td width="150"><a href="{{ url_for(endpoint,internStatus=2) }}">实习结束</a></td>
                            <td>
                            </td>
                        </tr>
                    {% endif %}
                    </table>
                    <table>
                    {% if flags!=3 %}
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th width="150">审核状态：</th>
                            <td width="150"><a href="{{ url_for(endpoint,checkStatus=0) }}">待审核</a></td>
                            {% if flags>1 and flags<5 %}
                                <td width="150"><a href="{{ url_for(endpoint,checkStatus=1) }}">已审核</a></td>
                            {% else %}
                                <td width="150"><a href="{{ url_for(endpoint,checkStatus=1) }}">被退回</a></td>
                                {% if flags!=7 %}
                                    <td width="150"><a href="{{ url_for(endpoint,checkStatus=2) }}">已审核</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endmacro %}