{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block body %}
    <table class="table" id="t">
        <thead>
        <tr>
            <th>企业名称</th>
            <th>所在城市</th>
            <th>网址</th>
            <th>联系电话</th>
            <th>审核状态</th>
        </tr>
        </thead>
        <tbody>
        {% for com in comInfor %}
            {% if com.status==3 %}
                <tr>
                    <td><a href="{{ url_for('main.cominfor',id=com.comId) }}">{{ com.comName }}</a></td>
                    <td>{{ com.comAddress }}</td>
                    <td><a href="http://{{ com.comUrl }}">{{ com.comUrl }}</a></td>
                    <td>{{ com.comPhone }}</td>
                    <td>已审核</td>
                    {% if current_user.can(Permission.COM_INFOR_EDIT) %}
                        <td>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">编辑<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if current_user.can(Permission.COM_INFOR_CHECK) %}
                                        <li><a href="#">审核通过</a></li>
                                        <li><a href="#">修改</a></li>
                                        <li><a href="#">删除</a></li>
                                        </ul>
                                        </li>
                                        </td>
                                    {% endif %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}