{% macro stu_filter(endpoint,flags,grades,majors,classess) %}
    <div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.update_stu_filter',flag=flags) }}">所有分类</a></li>
            {% if session['grade']!=None %}
                <li><a href="{{ url_for('.update_stu_filter',grade='1',flag=flags) }}">{{ session['grade'] }}</a></li>
            {% endif %}
            {% if session['major']!=None %}
                <li><a href="{{ url_for('.update_stu_filter',major='1',flag=flags) }}">{{ session['major'] }}</a></li>
            {% endif %}

            {% if session['classes']!=None %}
                <li><a href="{{ url_for('.update_stu_filter',classes='1',flag=flags) }}">{{ session['classes'] }}班</a>
                </li>
            {% endif %}
            {% if session['sex']!=None %}
                <li><a href="#">{{ session['sex'] }}</a></li>
            {% endif %}
        </ol>
        <input style="float:right;" type="button" class="class1" data-toggle="collapse"
               data-target="#demo" id="sel" value="收起筛选"/>

    </div>

    <div id="demo" class="collapse in ">
        <div class="panel panel-danger">
            <div class="panel-body">


                <table>
                    <tr>
                        <th width="100">年级:</th>
                        {% for i in grades.keys() %}
                            {% if i<3 %}
                                <td width="200"><a
                                        href="{{ url_for(endpoint,grade=grades[i]) }}">{{ grades[i] }}级</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if 3 in grades %}
                            <td width="200">
                                <div class="first">
                                    <a>更多</a>
                                    <div class="second">
                                        {% for i in grades.keys() %}
                                            {% if i>2 %}
                                                <li style="list-style-type:none;"><a
                                                        href="{{ url_for(endpoint,grade=grades[i]) }}">{{ grades[i] }}级</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th width="100">专业:</th>
                        {% for i in majors.keys() %}
                            {% if i<3 %}
                                <td width="200"><a
                                        href="{{ url_for(endpoint,major=majors[i]) }}">{{ majors[i] }}</a></td>
                            {% endif %}
                        {% endfor %}
                        {% if 3 in majors %}
                            <td>
                                <div class="first">
                                    <a>更多</a>
                                    <div class="second">
                                        {% for i in majors.keys() %}
                                            {% if i>2 %}
                                                <li style="list-style-type:none;"><a
                                                        href="{{ url_for(endpoint,major=majors[i]) }}">{{ majors[i] }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th width="200">班级：</th>
                        {% for i in classess.keys() %}
                            {% if i<3 %}
                                <td width="200"><a
                                        href="{{ url_for(endpoint,classes=classess[i]) }}">{{ classess[i] }}班</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if 3 in classess %}
                            <td>
                                <div class="first">
                                    <a>更多</a>
                                    <div class="second">
                                        {% for i in classess.keys() %}
                                            {% if i>2 %}
                                                <li style="list-style-type:none;"><a
                                                        href="{{ url_for(endpoint,classes=classess[i]) }}">{{ classess[i] }}班</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th width="200">性别：</th>
                        <td width="300"><a href="{{ url_for(endpoint,sex='男') }}">男</a></td>
                        <td width="300"><a href="{{ url_for(endpoint,sex='女') }}">女</a></td>
                        <td>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <p></p>
    </div>
{% endmacro %}