{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}添加企业信息{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block page_content %}
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%;">
            </div>
        </div>
        <div class="page-header">
            <h1>{{ current_user.stuName }}欢迎您，请填写您的实习企业信息</h1>
            <a href="{{ url_for('.selectCom') }}">从已有的企业信息中选择？</a>
        </div>
        {{ wtf.quick_form(form) }}
    <br><br><br>
{% endblock %}