{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}添加学生实习信息{% endblock %}
{% block head %}
    {{ super() }}
    <!-- 选择多个教师 -->
    <script>
        $(document).ready(function () {
            var j = 1;
            $("#addcTea").click(function () {
                $(".cteaForm:first").clone(true).insertAfter(".cteaForm:last");
                $(".cteaForm:last").slideDown();
                j++;
                $(".cteaForm .form-control").eq(j + j + j + j).attr({name: "cteaName" + j});
                $(".cteaForm .form-control").eq(j + j + j + j + 1).attr({name: "cteaDuty" + j});
                $(".cteaForm .form-control").eq(j + j + j + j + 2).attr({name: "cteaPhone" + j});
                $(".cteaForm .form-control").eq(j + j + j + j + 3).attr({name: "cteaEmail" + j});
                if (j > 1) {
                    $("#delcTea").show();
                }
            });
            $("#delcTea").click(function () {
                j--;
                $(".cteaForm:last").remove();
                if (j == 1) {
                    $("#delcTea").slideUp();
                }
            });
            $("#finish").click(function () {
                $(".cteaForm .form-control").eq(4).attr({name: "cteaName" + 1});
                $(".cteaForm .form-control").eq(5).attr({name: "cteaDuty" + 1});
                $(".cteaForm .form-control").eq(6).attr({name: "cteaPhone" + 1});
                $(".cteaForm .form-control").eq(7).attr({name: "cteaEmail" + 1});

                $(".buttonStd").click();
                $(".buttonTea").click();
            });
        });
    </script>
    <!-- bootstrap日期选择器 -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="/static/JS/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    
{% endblock %}
{% block page_content %}
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: 50%;">
        </div>
    </div>
    <div class="page-header">
        <h1>请填写实习信息</h1>
    </div>
    <div class="panel">
        <div class="cteaForm" style="display: None">
            {{ comdirteaform.hidden_tag() }}
            {{ comdirteaform.cteaName.label }} {{ comdirteaform.cteaName(class="form-control",required='',placeholder="",
            pattern="[\u4e00-\u9fa5]{2,6}",oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
            {{ comdirteaform.cteaDuty.label }} {{ comdirteaform.cteaDuty(class="form-control",required='',placeholder="",
            oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
            {{ comdirteaform.cteaPhone.label }} {{ comdirteaform.cteaPhone(class="form-control",required='',placeholder="") }}
            {{ comdirteaform.cteaEmail.label }} {{ comdirteaform.cteaEmail(class="form-control",placeholder="") }}
            </br></br>
        </div>

        <form method="POST" role="form" id="S1">
            {% if current_user.roleId != 0 %}
                <h3>学生信息</h3>
                <div>
                    <b>学生学号<b><br><input type="text" name="stuId" required="" class="form-control">
                        <b>学生姓名<b><br><input type="text" name="stuName" required="" class="form-control"><br>
                </div>
            {% endif %}
            <h3>实习岗位信息</h3>
            <div>
                {{ iform.hidden_tag() }}
                {{ iform.address.label }}{{ iform.address(class="form-control",placeholder="",
                        oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ iform.task.label }}{{ iform.task(class="form-control",required='',placeholder="请输入实习任务",
                        oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ iform.start.label }}{{ iform.start(class="form-control datetimepicker",required='') }}
                {{ iform.end.label }}{{ iform.end(class="form-control datetimepicker",required='') }}
            </div>
            <br>
            <h3>企业指导老师信息</h3>
            <div class=" cteaForm">
                {{ comdirteaform.hidden_tag() }}
                {{ comdirteaform.cteaName.label }} {{ comdirteaform.cteaName(class="form-control",required='',placeholder="", oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ comdirteaform.cteaDuty.label }} {{ comdirteaform.cteaDuty(class="form-control",required='',placeholder="", oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ comdirteaform.cteaPhone.label }} {{ comdirteaform.cteaPhone(class="form-control",required='',placeholder="") }}
                {{ comdirteaform.cteaEmail.label }} {{ comdirteaform.cteaEmail(class="form-control",cols=50,rows=5,placeholder="") }}
                </br></br>
            </div>
            <input type="button" id="addcTea" class="btn" value="添加老师">
            <input type="button" id="delcTea" class="btn" value="删除老师" style="display: none">
            </br></br></br>
            {{ iform.submit(class="btn btn-success",type="submit",id='finish') }}
        </form>
        <br><br>

        <!-- bootstrap日期选择器 -->
        <script type="text/javascript">
            $('.datetimepicker').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                pickDate: true,
                inputMask: true,
                autoclose: true,
                todayBtn: 'linked',
                todayHighlight: true,
                minView: "month",
                position:'absoulte'
            });
        </script>
{% endblock %}