{% extends "base.html" %}

{% block title %}添加学生实习信息{% endblock %}
{% block head %}
    {{ super() }}
    <!-- 选择多校外个教师 -->
    <script>
        $(document).ready(function () {
            var j = 1;
            $("#addcTea").click(function () {
                $(".cteaForm:first").clone(true).insertAfter(".cteaForm:last");
                $(".cteaForm:last").slideDown();
                j++;
                $(".cteaForm .form-control").eq(j + j + j + j).attr({name: "cteaName" + j});
                $(".cteaForm .form-control").eq(j + j + j + j + 1).attr({name: "cteaDuty" + j});
                $(".cteaForm .form-control").eq(j + j + j + j + 2).attr({name: "cteaPhone" + j});
                $(".cteaForm .form-control").eq(j + j + j + j + 3).attr({name: "cteaEmail" + j});
                if (j > 1) {
                    $("#delcTea").show();
                }
            });
            $("#delcTea").click(function () {
                j--;
                $(".cteaForm:last").remove();
                if (j == 1) {
                    $("#delcTea").slideUp();
                }
            });
            $("#finish").click(function () {
                $(".cteaForm .form-control").eq(4).attr({name: "cteaName" + 1});
                $(".cteaForm .form-control").eq(5).attr({name: "cteaDuty" + 1});
                $(".cteaForm .form-control").eq(6).attr({name: "cteaPhone" + 1});
                $(".cteaForm .form-control").eq(7).attr({name: "cteaEmail" + 1});

                $(".buttonStd").click();
                $(".buttonTea").click();
            });
        });
    </script>
    <!-- 校内指导老师 -->
     <script>
        $(document).ready(function () {
            var i = 1;
            $("#addTea").click(function () {
                $(".teaForm:first").clone(true).insertAfter(".teaForm:last");
                $(".teaForm:last").slideDown();
                i++;
                $(".teaForm .form-control").eq(i + i + i + i + i).attr({name: "teaId" + i});
                $(".teaForm .form-control").eq(i + i + i + i + i + 1).attr({name: "teaName" + i});
                $(".teaForm .form-control").eq(i + i + i + i + i + 2).attr({name: "teaDuty" + i});
                $(".teaForm .form-control").eq(i + i + i + i + i + 3).attr({name: "teaPhone" + i});
                $(".teaForm .form-control").eq(i + i + i + i + i + 4).attr({name: "teaEmail" + i});
                if (i > 1) {
                    $("#delTea").show();
                    // $("#addTea").hide();
                }
            });
            $("#delTea").click(function () {
                i--;
                $(".teaForm:last").remove();
                if (i == 1) {
                    $("#delTea").slideUp();
                }
            });
            $("#finish").click(function () {
                $(".teaForm .form-control").eq(5).attr({name: "teaId" + 1});
                $(".teaForm .form-control").eq(6).attr({name: "teaName" + 1});
                $(".teaForm .form-control").eq(7).attr({name: "teaDuty" + 1});
                $(".teaForm .form-control").eq(8).attr({name: "teaPhone" + 1});
                $(".teaForm .form-control").eq(9).attr({name: "teaEmail" + 1});

                $(".buttonStd").click();
                $(".buttonTea").click();
            });
        });
    </script>
    <!-- bootstrap日期选择器 -->
    <script type="text/javascript" src="/static/JS/datetimepicker.min.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
     <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <!-- 文件上传 -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/fileinput.min.css">
    <script type="text/javascript" src="/static/JS/fileinput.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/fileinput_locale_zh.js"></script>
{% endblock %}
{% block page_content %}
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: 50%;">
        </div>
    </div>
    <div class="page-header">
        <h1>请填写实习信息</h1>
    </div>
    <div class="panel">
        <div class="cteaForm" style="display: None">
            {{ comdirteaform.hidden_tag() }}
            {{ comdirteaform.cteaName.label }} {{ comdirteaform.cteaName(class="form-control",required='',placeholder="",
            pattern="[\u4e00-\u9fa5]{2,6}",oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
            {{ comdirteaform.cteaDuty.label }} {{ comdirteaform.cteaDuty(class="form-control",required='',placeholder="",
            oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
            {{ comdirteaform.cteaPhone.label }} {{ comdirteaform.cteaPhone(class="form-control",required='',placeholder="") }}
            {{ comdirteaform.cteaEmail.label }} {{ comdirteaform.cteaEmail(class="form-control",placeholder="") }}
            </br></br>
        </div>
        <div class="panel-body">
            <div class="teaForm" style="display: None">
                {{ schdirteaform.hidden_tag() }}
                {{ schdirteaform.steaId.label }} {{ schdirteaform.steaId(class="form-control",required='',placeholder="",
            pattern="[0-9]{8}",oninvalid="setCustomValidity('请输入正确的教师工号')",oninput="setCustomValidity('')") }}
                {{ schdirteaform.steaName.label }} {{ schdirteaform.steaName(class="form-control",required='',placeholder="",
            pattern="[\u4e00-\u9fa5]{2,6}",oninvalid="setCustomValidity('请输入正确的姓名')",oninput="setCustomValidity('')") }}
                {{ schdirteaform.steaDuty.label }} {{ schdirteaform.steaDuty(class="form-control",required='',placeholder="",
            oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ schdirteaform.steaPhone.label }} {{ schdirteaform.steaPhone(class="form-control",required='',placeholder="") }}
                {{ schdirteaform.steaEmail.label }} {{ schdirteaform.steaEmail(class="form-control",required='',placeholder="") }}
                </br></br>
            </div>

        <form method="POST" role="form" id="S1" enctype="multipart/form-data" >
            {% if current_user.roleId != 0 %}
                <h3>学生信息</h3>
                <div>
                    <b>学生学号<b><br><input type="text" name="stuId" required="" class="form-control">
                        <b>学生姓名<b><br><input type="text" name="stuName" required="" class="form-control"><br>
                </div>
            {% endif %}
            <h3>实习岗位信息</h3>
            <div>
                {{ iform.hidden_tag() }}
                {{ iform.task.label }}{{ iform.task(class="form-control",required='',placeholder="请输入实习任务",
                        oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ iform.start.label }}{{ iform.start(class="form-control datetimepicker",required='',placeholder="请输入开始时间，如：2016-10-10") }}
                {{ iform.end.label }}{{ iform.end(class="form-control datetimepicker",required='', placeholder="请输入结束时间，如：2016-11-11") }}
            </div>
            <br>
            <h3>企业指导老师信息</h3>
            <div class=" cteaForm">
                {{ comdirteaform.hidden_tag() }}
                {{ comdirteaform.cteaName.label }} {{ comdirteaform.cteaName(class="form-control",required='',placeholder="", oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ comdirteaform.cteaDuty.label }} {{ comdirteaform.cteaDuty(class="form-control",required='',placeholder="", oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                {{ comdirteaform.cteaPhone.label }} {{ comdirteaform.cteaPhone(class="form-control",required='',placeholder="") }}
                {{ comdirteaform.cteaEmail.label }} {{ comdirteaform.cteaEmail(class="form-control",cols=50,rows=5,placeholder="") }}
                </br></br>
            </div>
            <input type="button" id="addcTea" class="btn" value="添加老师">
            <input type="button" id="delcTea" class="btn" value="删除老师" style="display: none">
            <br><br>
         {% if not schdirtea %}
         <h3>校内指导老师信息</h3>
                <div class="teaForm">
                    {{ schdirteaform.hidden_tag() }}
                    {{ schdirteaform.steaId.label }} {{ schdirteaform.steaId(class="form-control",required='',placeholder="", pattern="[0-9]{8}",oninvalid="setCustomValidity('请输入正确的教师工号')",oninput="setCustomValidity('')") }}
                    {{ schdirteaform.steaName.label }} {{ schdirteaform.steaName(class="form-control",required='',placeholder="", pattern="[\u4e00-\u9fa5]{2,6}",oninvalid="setCustomValidity('请输入正确的姓名')",oninput="setCustomValidity('')") }}
                    {{ schdirteaform.steaDuty.label }} {{ schdirteaform.steaDuty(class="form-control",required='',placeholder="", oninvalid="setCustomValidity('')",oninput="setCustomValidity('')") }}
                    {{ schdirteaform.steaPhone.label }} {{ schdirteaform.steaPhone(class="form-control",required='',placeholder="") }}
                    {{ schdirteaform.steaEmail.label }} {{ schdirteaform.steaEmail(class="form-control",required='',placeholder="") }}
                    </br></br>
                </div>
                        <input type="button" id="addTea" class="btn" value="添加老师">
                <input type="button" id="delTea" class="btn" value="删除老师" style="display: none">
        {% endif %}
            </br></br>
            <h3>实践协议书</h3>
            <input id="file-1" type="file" class="file" multiple=""  name="image" data-overwrite-initial="false" data-min-file-count="1"><h5><small>仅支持jpe、png、gif、pdf格式文件上传</small></h5>
            </br></br>
            {{ iform.submit(class="btn btn-success",type="submit",id='finish') }}
        </form>

        <br><br>
{% endblock %}
{% block scripts %}
        <!-- bootstrap日期选择器 -->
        <script type="text/javascript">
            $('.datetimepicker').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                pickDate: true,
                inputMask: true,
                autoclose: true,
                todayBtn: 'linked',
                todayHighlight: true,
                minView: "month",
            });
        </script>
            <script type="text/javascript">
            $('.file').fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions : ['jpg', 'png','gif','pdf'],//接收的文件后缀,
                maxFileCount: 100,
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式             
            });
</script>
{% endblock %}