{% extends "base.html" %}

{% block title %}添加学生信息{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <div class="panel">
            <form method="POST" role="form" id="S1">
                <div class="page-header">
                    <h1>欢迎您，请填写学生信息</h1>
                </div>
                <div>
                    {{ stuform.hidden_tag() }}
                    {{ stuform.stuId.label }}{{ stuform.stuId(class="form-control",required='',placeholder="", pattern="[0-9]{12}",oninvalid="setCustomValidity('请输入正确的学号')",oninput="setCustomValidity('')") }}
                    {{ stuform.stuName.label }}{{ stuform.stuName(class="form-control",required='',placeholder="", pattern="[\u4e00-\u9fa5]{2,6}",oninvalid="setCustomValidity('请输入正确的姓名')",oninput="setCustomValidity('')") }}
                    {{ stuform.sex.label }}{{ stuform.sex(class='form-control',default='男') }}
                    {{ stuform.institutes.label }}{{ stuform.institutes(class='form-control',default='计算机与网络安全学院') }}
                    {{ stuform.grade.label }}{{ stuform.grade(class="form-control",required='') }}
                    {{ stuform.major.label }}{{ stuform.major(class='form-control',required='') }}
                    {{ stuform.classes.label }}{{ stuform.classes(class='form-control',required='') }}
                </div>
                </br>
                {{ stuform.submit(class="btn btn-success",type="submit",id='finish') }}
            </form>
        </div>
    </div>
    <br><br><br>
{% endblock %}