{% extends "base.html" %}
{% import "_macros.html"as macros %}

{% block title %}实习企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/JS/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
{% endblock %}
{% block page_content %}
    <h1>实习企业信息
        {% if current_user.can(Permission.COM_INFOR_EDIT) %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if current_user.can(Permission.COM_INFOR_CHECK) %}
                        <li><a href="{{ url_for('.addcominfor') }}">添加</a></li>
                        <li><a href="#">批量添加</a></li>
                        <li><a href="#">批量审核</a></li>
                        <li><a href="{{ url_for('.allcomDelete') }}">批量删除</a></li>
                        </ul>
                        </div>
                    {% endif %}
        {% endif %}
        <div style="float:right;width:350px"><!--长度-->
            <form role="form" method="POST" action="/search">
                <div class="row head">
                    <div class="col-lg-10"><!--位置-->
                        <div class="input-group ">
                            {{ form.key(type="text",class="form-control",placeholder="请先输入企业名称或所在城市",required='') }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="rearch"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </div>
                        {{ form.submit(class="rearchSubmit btn btn-default",type="submit", style="display:none") }}
                    </div>
                </div>
            </form>
        </div>
    </h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" id="all"></th>
                <th>企业名称</th>
                <th>所在城市</th>
                <th>企业网址</th>
                <th>联系电话</th>
                <th>累计实习人次</th>
                {% if current_user.can(Permission.COM_INFOR_CHECK) %}
                    <th>审核状态</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <div id="div">
                {% for com in comInfor %}

                    <tr>
                        <th><input type="checkbox"></th>
                        <td><a href="{{ url_for('main.cominfor',id=com.comId) }}">{{ com.comName }}</a></td>
                        <td>{{ com.comAddress }}</td>
                        <td><a href="https://{{ com.comUrl }}">{{ com.comUrl }}</a></td>
                        <td>{{ com.comPhone }}</td>
                        {% if current_user.roleId==0 %}
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ com.students }}</td>
                        {% else %}
                            <td><a href="{{ url_for('.studentList',comId=com.comId) }}">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ com.students }}</a></td>
                        {% endif %}
                        {% if current_user.can(Permission.COM_INFOR_CHECK) %}
                            {% if com.comCheck==0 %}
                                <td>待审核</td>
                            {% elif com.comCheck==1 %}
                                <td>被退回</td>
                            {% else %}
                                <td>已审核</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </div>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-success">审核</button>
            <button type="button" class="btn btn-primary" id="back">取消</button>
        </div>
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.allcomCheck') }}
            </div>
        {% endif %}
        <br>
    </div>
{% endblock %}