{% extends "base.html" %}
{% import "_macros.html"as macros %}
{% import "_com_filter.html" as filter %}
{% import "_search.html" as search %}

{% block title %}实习企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
    <!-- 全选企业  -->
    <script type="text/javascript">
        function select_all() {
            var checkboxes = document.getElementsByName('approve[]');
            var button = document.getElementById('toggle');

            if (button.value == '全选') {
                for (var i in checkboxes) {
                    checkboxes[i].checked = 'FALSE';
                }
                button.value = '全不选'
            } else {
                for (var i in checkboxes) {
                    checkboxes[i].checked = '';
                }
                button.value = '全选';
            }
        }
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>
    <!--更多-->
    <style>
        .first .second {
            display: none;
        }

        .first:hover .second {
            display: block;
        }
    </style>
{% endblock %}
{% block page_content %}
    {% if current_user.can(Permission.COM_INFOR_CHECK) %}
        <h1>实习企业信息
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('.addcominfor') }}">添加</a></li>
                    <li><a href="{{ url_for('.excel_importpage', from_url='interncompany') }}">批量导入</a></li>
                    <li><a href="javascript:{}"
                           onclick="document.getElementById('export_form').submit();">批量导出</a></li>
                    <li><a href="{{ url_for('.update_filter',flag=1) }}">批量审核</a></li>
                    <li><a href="{{ url_for('.update_filter',flag=0) }}">批量删除</a></li>
                </ul>
            </div>
            {{ search.search(url_for('.com_search'),form) }}
        </h1>

        {{ filter.com_filter('.allcomCheck',1,city,current_user,Permission) }}
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>企业名称</th>
                    <th>所在城市</th>
                    <th>企业网址</th>
                    <th>联系电话</th>
                    <th>累计实习人次</th>
                    <th>审核状态</th>
                </tr>
                </thead>
                <tbody>
                <div id="div">
                    <form method="post">
                        {% for com in comInfor %}
                            <tr>
                                <th><input type="checkbox" name='approve[]' value={{ com.comId }}></th>
                                {% if current_user.can(Permission.COM_INFOR_SEARCH) %}
                                    <td><a href="{{ url_for('main.cominfor',id=com.comId) }}">{{ com.comName }}</a></td>
                                {% else %}
                                    <td>{{ com.comName }}</td>
                                {% endif %}
                                <td>{{ com.comAddress }}</td>
                                <td><a href="https://{{ com.comUrl }}">{{ com.comUrl }}</a></td>
                                <td>{{ com.comPhone }}</td>

                                <!-- 若将整个页面设置为仅审核老师以上才能访问 -->
                                {% if current_user.can(Permission.STU_INTERN_LIST) %}
                                    <td><a href="{{ url_for('.studentList',comId=com.comId) }}">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ com.students }}&nbsp;&nbsp;&nbsp;</a>
                                    </td>
                                {% else %}
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ com.students }}&nbsp;&nbsp;&nbsp;</td>
                                {% endif %}
                                {% if com.comCheck==0 %}
                                    <td>待审核</td>
                                {% elif com.comCheck==1 %}
                                    <td>被退回</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </div>
                </tbody>
            </table>
            <div>
                <input type="button" class="btn btn-primary" id="toggle" value="全选" onClick="select_all()"/>
                <button type="submit" class="btn btn-success">审核通过</button>
                <!--
                <button type="button" class="btn btn-primary" id="back">取消</button>
                -->
                </form>
            </div>
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination,'.allcomCheck') }}
                </div>
            {% endif %}
            <br>
        </div>
    {% endif %}
{% endblock %}