{% extends "base.html" %}
{% import "_macros.html"as macros %}
{% import "_stu_filter.html" as filter %}
{% import "_search.html" as search %}

{% block title %}实习学生{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
    <!-- 全选企业  -->
    <script type="text/javascript">
        function select_all() {
            var checkboxes = document.getElementsByName('stu[]');
            var button = document.getElementById('toggle');
            if (button.value == '全选') {
                for (var i in checkboxes) {
                    checkboxes[i].checked = 'FALSE';
                }
                button.value = '全不选'
            } else {
                for (var i in checkboxes) {
                    checkboxes[i].checked = '';
                }
                button.value = '全选';
            }
        }
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>
    <!--更多-->
    <style>
        .first .second {
            display: none;
        }

        .first:hover .second {
            display: block;
        }
    </style>
{% endblock %}<!--先执行父模板-->

{% block page_content %}
    {% if current_user.can(Permission.STU_INTERN_MANAGE) %}
        <h1>学生用户
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('.addStudent') }}">添加</a></li>
                    <li><a href="#">批量添加</a></li>
                    <li><a href="{{ url_for('.update_stu_filter',flag=1) }}">批量设置角色</a></li>
                    <li><a href="#">批量删除</a></li>
                </ul>
            </div>

            {{ search.search(url_for('.user_search'),form) }}
        </h1>
        {#筛选项#}
        {{ filter.stu_filter('.allStuDelete',0,grade,major,classes) }}

        <table class="table" id="t">
            <thead>
            <tr>
                <th></th>
                <th>姓名</th>
                <th>学号</th>
                <th>性别</th>
                <th>年级</th>
                <th>专业班级</th>
                <th>系统角色</th>
            </tr>
            </thead>
            <tbody>
            <form method="post">
                {% for stu in student %}
                    <tr>
                        <th><input type="checkbox" name='stu[]' value={{ stu.stuId }}></th>
                        <td>{{ stu.stuName }}</td>
                        <td>{{ stu.stuId }}</td>
                        <td>{{ stu.sex }}</td>
                        <td>{{ stu.grade }}</td>
                        <td>{{ stu.major }}{{ stu.classes }}班</td>
                        <td>{{ stu.role.roleName }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <input type="button" class="btn btn-primary" id="toggle" value="全选" onClick="select_all()"/>
            <button type="submit" class="btn btn-danger">删除</button>
            <!--
            <button type="button" class="btn btn-primary" id="back">取消</button>
            -->
        </div>
        </form>
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.allStuDelete') }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}