{% extends "base.html" %}
{% import "_macros.html"as macros %}

{% block title %}上传探访记录{% endblock %}
{% block head %}
{{ super() }}
    <!-- ajax -->
    <script>
function showStudentTable(uid,filename)
{
  var xmlhttp;    
  if (window.XMLHttpRequest)
  {
    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
    xmlhttp=new XMLHttpRequest();
  }
  else
  {
    // IE6, IE5 浏览器执行代码
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      document.getElementById("studentTable").innerHTML=xmlhttp.responseText;
      // responseText返回一个页面
    }
  }
  xmlhttp.open("GET","/studentTable/"+uid+'/'+filename,true);
  xmlhttp.send();
}
</script>
{% endblock %}
{% block page_content %}
<h1>教师探访记录</h1>
        <ul class="nav nav-tabs">
            <li><a href="{{url_for('.teaVisit')}}">我的探访记录</a></li>
            <li class="active"><a href="">探访记录汇总</a></li>
        </ul>
<br>
    <!-- 上传页面信息 -->
        
    <h3>探访记录汇总<a href="{{ url_for('.allTeaVisit',export_all=1)}} class="btn btn-default btn-s">
        打包下载</a></h3>
            <table class="table">
        <tr>
            <th>文件名称</th>
            <th>探访人</th>
            <th>探访方式</th>
            <th>探访时间</th>
            <th>上传者</th>
            <th>上传时间</th>
            <th>相关学生</th>
            <th>操作</th>
        </tr>
    	{% for x in visit %}
    	<tr>
    		<td><a data-toggle="tooltip" title="点击进行在线阅览" href="{{ url_for('.allTeaVisit',uid=x.userId,filename=x.filename) }}">{{ x.filename }}</a></td>
    	    <td>{{x.vteaName}}</td>
            <td>{{x.visitWay}}</td>
            <td>{{x.visitTime}}</td>
            <td>{{x.teaName}}</td>
            <td>{{x.time}}</td>
            <td><button type="button" class="btn btn-success btn-sm" style="text-shadow: black 5px 3px 3px;" data-toggle="modal" data-target="#myModal" onclick="showStudentTable({{x.userId}},{{'\''+x.filename+'\''}})">
  <span class="glyphicon glyphicon-user"></span> <span class="glyphicon glyphicon-user"></span>
</button></td>
<td><a href="javascript:{}"
                       onclick="document.getElementById('{{x.filename}}_download').submit();">下载</a></td>
    	</tr>
    <!-- 提供下载的form -->
    <form id="{{x.filename}}_download" method="post">
        <input type="hidden" name="download" value="{{ x.filename }}">
        <input type="hidden" name="userId" value="{{ x.userId }}">
    </form>
    	{% endfor %}
        </table>
                {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.allTeaVisit') }}
            </div>
        {% endif %}
        {% if path %}
    <h3>在线阅览</h3>
            <div id="pdf">
            <object width="1000" height="1100" type="application/pdf" data="{{ path }}" id="pdf_content">
                <p>你的浏览器不支持在线阅览, 请更换浏览器, 或点击&nbsp<a href="javascript:{}"
                                                    onclick="document.getElementById('pdf').submit();">这里</a>&nbsp下载离线阅览
                </p>
            </object>
        </div>
        {% endif %}
        <!-- 相关学生框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    本次探访记录的相关学生
                </h4>
            </div>
            <div id="studentTable"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

{% endblock %}
