{% extends "base.html" %}
{% block title %}企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <!-- 确认删除窗口 ,传递参数-->
    <script type="text/javascript">
        function ComfirmDelete(str) {
            $('#deleteToggle').modal();
            var obj = document.getElementById("comId");
            obj.value = str
        }
    </script>
    <!-- 确认审核窗口 -->
    <script type="text/javascript">
        function ComfirmCheck() {
            $('#checkToggle').modal();
        }
    </script>
{% endblock %}
{% block page_content %}
    <table align="center" border="2" class="table-bordered">
        <caption>
            <h1>企业信息
                {% if current_user.can(Permission.COM_INFOR_EDIT) %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                                data-toggle="dropdown">编辑<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% if current_user.can(Permission.COM_INFOR_CHECK) %}
                                <li><a onClick="ComfirmCheck()">审核</a></li>
                            {% endif %}
                            {% if com.comCheck!=2 or current_user.can(Permission.COM_INFOR_CHECK) %}
                                <li><a href="{{ url_for('.editcominfor',comId=com.comId,cominfor='1') }}">修改</a></li>
                            {% endif %}
                            <li><a href="#">导出</a></li>
                            <li><a onclick="ComfirmDelete({{ com.comId }})" href="#">删除</a></li>
                        </ul>
                    </div>
                {% endif %}
            </h1>
            {% if com.comCheck == 2 %}
                <div><span class="label label-info">已审核</span></div>
            {% else %}
                <span class="label label-warning">审核未通过</span>
            {% endif %}
        </caption>
        <tr>
            <th width="200">企业编号</th>
            <td width="400" height="50" colspan="3">{{ com.comId }}</td>
        </tr>
        <tr>
            <th width="200">公司名称</th>
            <td width="400" height="50" colspan="3">{{ com.comName }}</td>
        </tr>
        <tr>
            <th>公司地址</th>
            <td width="400" height="50" colspan="3">{{ com.comAddress }}</td>
        </tr>
        <tr>
            <th>公司网址</th>
            <td width="400" height="50" colspan="3">{{ com.comUrl }}</td>
        </tr>
        <tr>
            <th>公司简介</th>
            <td height="200" width="900" colspan="3">{{ com.comBrief }}</td>
        </tr>
        <tr>
            <th>年营业额</th>
            <td height="50">{{ com.comMon }}</td>
            <th>员工人数</th>
            <td height="50">{{ com.comStaff }}</td>

        </tr>
        <tr>
            <th>联系人</th>
            <td height="50">{{ com.comContact }}</td>
            <th>Email</th>
            <td height="50">{{ com.comEmail }}</td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td height="50">{{ com.comPhone }}</td>
            <th>传真</th>
            <td height="50">{{ com.comFax }}</td>
        </tr>
    </table>
    <br>
    <a href="{{ url_for('.interncompany') }}">
        <div class="btn btn-default">返回</div>
    </a>
    <br><br>
    <!--确认弹窗-->
    <div class="modal fade" id="deleteToggle" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示：
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-body" style="color:red;" id="deleteModalLabel">警告：删除操作将无法撤回，是否任要删除？</h4>
                </div>
                <div class="modal-footer">
                    <form action="/com_delete" method="POST">
                        <input type="hidden" id="comId" name="comId">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">删除</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 审核操作窗口 -->
    <div class="modal fade" id="checkToggle" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:black;" id="deleteModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-body" style="color:red;" id="deleteModalLabel">审核该企业信息！</h4>
                </div>
                <div class="modal-footer">
                    <!-- 用form来获取数据 -->
                    <form action="/com_comfirm" method="POST">
                        <input type="hidden" name="comId" value="{{ com.comId }}"/>
                        <button type="submit" name="comCheck" value="pass" class="btn btn-success">审核通过</button>
                        <button type="submit" name="comCheck" value="notpass" class="btn btn-primary">审核不通过</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}