{% extends "base.html" %}
{% block title %}教师用户{% endblock %}
{% block head %}
    {{ super() }}
    <!--提交和返回按钮-->
    <script>
        function back() {
            var form = document.getElementById('comform');
            form.action = '/teaUserList';
            form.submit();
        }
        function save(teaid) {
            var form = document.getElementById('comform');
            form.action = '/editTeacher?teaId=' + teaid;
            form.submit();
        }
    </script>
{% endblock %}
{% block page_content %}
    <form method="post" class="form-horizontal" id="comform">
        <h1>教师用户信息</h1>
        {{ form.hidden_tag() }}
        {{ form.teaName.label }}{{ form.teaName(class="form-control",class="form-control",request='',value=tea.teaName) }}
        {{ form.teaId.label }}{{ form.teaId(class="form-control",class="form-control",request='',value=tea.teaId) }}
        <label for="name">性别</label>
        {% if tea.teaSex=='男' %}
            <select class="form-control" name="sex">
                <option value="男"  selected>男</option>
                <option value="女" >女</option>
            </select>
        {% else %}
            <select class="form-control" name="sex">
                <option value="男">男</option>
                <option value="女" selected>女</option>
            </select>
        {% endif %}
        {{ form.teaPosition.label }}{{ form.teaPosition(class="form-control",class="form-control",request='',value=tea.teaPosition) }}
        {{ form.teaPhone.label }}{{ form.teaPhone(class="form-control",class="form-control",request='',value=tea.teaPhone) }}
        {{ form.teaEmail.label }}{{ form.teaEmail(class="form-control",class="form-control",request='',value=tea.teaEmail) }}
        <br><br>
        <button class="btn btn-primary" onclick="save({{ tea.teaId }})">提交</button>
        <button class="btn btn-default" onclick="back()">返回
        </button>
    </form>

    <br><br><br><br>
{% endblock %}