{% extends "base.html" %}
{% block title %}学生用户{% endblock %}
{% block head %}
    {{ super() }}
    <!--提交和返回按钮-->
    <script>
        function back() {
            var form = document.getElementById('comform');
            form.action = '/stuUserList';
            form.submit();
        }
        function save(stuid) {
            var form = document.getElementById('comform');
            form.action = '/editStudent?stuId=' + stuid;
            form.submit();
        }
    </script>
{% endblock %}
{% block page_content %}

    <form method="post" class="form-horizontal" id="comform">
        <h1>学生基本信息</h1>
        {{ form.hidden_tag() }}
        {{ form.stuName.label }}{{ form.stuName(class="form-control",class="form-control",request='',value=stu.stuName) }}
        {{ form.stuId.label }}{{ form.stuId(class="form-control",class="form-control",request='',value=stu.stuId) }}
        <label for="name">性别</label>
        {% if stu.sex=='男' %}
            <select class="form-control" name="sex">
                <option value="男" name="sex" selected>男</option>
                <option value="女" name="sex">女</option>
            </select>
        {% else %}
            <select class="form-control" name="sex">
                <option value="男">男</option>
                <option value="女" selected>女</option>
            </select>
        {% endif %}
        
        <label for="name">专业</label>
        <select class="form-control" name="major">
        {% for x in major %}
        {% if stu.major==x.major %}
                <option value="{{x.major}}" name="major" selected>{{x.major}}</option>
        {%else%}
        <option value="{{x.major}}" name="major">{{x.major}}</option>
        {% endif %}
        {% endfor %}
        </select>
        
         <label for="name">年级</label>
        <select class="form-control" name="grade">
        {% for x in grade %}
        {% if stu.grader==x.grade %}
                <option value="{{x.grade}}" name="grade" selected>{{x.grade}}</option>
        {%else%}
        <option value="{{x.grade}}" name="grade">{{x.grade}}</option>
        {% endif %}
        {% endfor %}
        </select>

         <label for="name">班级</label>
        <select class="form-control" name="classes">
        {% for x in classes %}
        {% if stu.classes==x.classes %}
                <option value="{{x.classes}}" name="classes" selected>{{x.classes}}</option>
        {%else%}
        <option value="{{x.classes}}" name="classes">{{x.classes}}</option>
        {% endif %}
        {% endfor %}
        </select>

        <br><br>
        <button class="btn btn-primary" onclick="save({{ stu.stuId }})" id='finish'>提交</button>
        <button class="btn btn-default" onclick="back()">返回
        </button>
    </form>
    </div>
    </div>
    <br><br>
{% endblock %}