{% extends "base.html" %}

{% block title %}计算机学院学生实习信息管理系统{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
p{
text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
text-align: justify;
font-style: normal;
line-height: 40px;
}

</style>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
<br>
    <div class="container">
        <div class="jumbotron">
            <h1 align="center">欢迎来到实习管理系统！</h1>
            <p>这是一个跟踪学生实习信息的在线管理系统。实习学生应将实习过程和成果资料及时上传系统，上传流程和 要求是：
<p>1.登录后填写“学生实习信息”，要求清楚地填写每项信息，如果实习企业信息已经存在，可直接选择实习 企业，如果不存在则应深入实习企业各项信息资料，包括不少于100字公司简介，一般公司简介可从企业网站 复制；实习岗位信息应清晰地说明是什么岗位、工作职责、什么项目、什么任务，一般要些100字左右；实习 协议书是将校企双方签字盖章后的实习协议的扫描件电子版，可用Android手机上安装上海合合信息科技发展 有限公司发布的“扫描全能王”APP进行进行扫描，选择分享pdf文件,发送给好友，选择我的电脑，以便在电 脑上上传实习协议。</p>

<p>2. 填写完实习信息后，等待学院审核，若未通过审核，则应按已经继续修改实习信息。通过审核后，就可在 线填写实习日志，上传实习总结和成果资料。</p>

<p>3. 实习日志要求详细填写实习期间每天工作内容，遇到问题，解决过程等等。</p>

<p>4. 实习总结报告应按《计算机学院20xx届学生生产实习总结报告（学生）》的格式和要求攥写，写完后，将 最后一页打印签名，扫描成电子版，与前面部分一起制作成一个pdf文档上传。</p>

<p>5. 若有其他实习成果资料（如项目介绍、项目文档、产品图片、视频、使用手册、获奖证书等），可作为实 习成果附件上传。</p>

<p>6. 实习结束，每位同学应请企业指导教师填写《计算机学院生产实习成绩评分表(企业指导教师)》，并签名 盖章，然后拿该表及实习总结和成果资料，请校内指导老师填写《计算机学院生产实习成绩校内评分表（校 内指导教师）》，指导教师签名后，请所在系系主任签名，该学院章，最后将两份成绩评分表扫描成jpg格式 ，上传到系统。</p>

<p>7. 当所有文档资料经过审核，并且成绩合格后，毕业实习通过并获得实习学分。</p>
</p>
        </div>
    </div>


{% endblock %}
