{% extends "base.html" %}

{% block title %}计算机学院学生实习信息管理系统{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
p{
text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
font-style: normal;
line-height: 2em;
}

</style>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
<br>
    <div class="container">
        <div class="jumbotron">
            <h1 align="center">欢迎来到实习管理系统！</h1>
            <p>这是一个跟踪学生实习信息的在线管理系统。学生在实习期间可以在实习信息上填写相关实习信息，通过审核后，可在实习工作日志中撰写每天的实习日志和在工作总结和成果中上传相关实习附件和总结，同时也可在实习企业情况中可查看实习企业信息了解实习企业的最新情况；老师可以在实习信息中查看、修改、审核和导出学生的实习信息，在实习工作日志中查看、修改、审核和导出实习工作日志和在工作总结和成果中查看、修改、审核和导出学生的实习总结和成果，同时也可在教师探访记录中上传、查看和下载探访记录文件；为学生实习信息进行信息化管理，给我院校师生带来了便利。</p>
        </div>
    </div>


{% endblock %}
