{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}

{% block title %}实习企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <style>
        li {
            float: left;
            list-style: none;
        }
    </style>
{% endblock %}<!--先执行父模板-->
发
{% block page_content %}
    <h1>实习企业信息
        <div style="float:right;width:350px"><!--长度-->
            <form role="form" method="POST" action="/search">
                <div class="row head">
                    <div class="col-lg-10"><!--位置-->
                        <div class="input-group ">
                            {{ form.key(type="text",class="form-control",placeholder="请先输入企业名称或所在城市",required='') }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="rearch"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </div>
                        {{ form.submit(class="rearchSubmit btn btn-default",type="submit", style="display:none") }}
                    </div>
                </div>
            </form>
        </div>
    </h1>
    &nbsp;
    <li class="dropdown">过滤条件：
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">公司名称<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">按拼音升序排列</a></li>
            <li class="divider"></li>
            <li><a href="#">按拼音降序序排列</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">地区<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">按拼音升序排列</a></li>
            <li class="divider"></li>
            <li><a href="#">按拼音降序序排列</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">人数<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">按人数升序排列</a></li>
            <li class="divider"></li>
            <li><a href="#">按人数降序序排列</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">专业<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">计算机科学与技术</a></li>
            <li class="divider"></li>
            <li><a href="#">软件工程</a></li>
            <li class="divider"></li>
            <li><a href="#">网络工程</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">年级<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">2013级</a></li>
            <li class="divider"></li>
            <li><a href="#">2012级</a></li>
        </ul>
    </li>
    <p></p>
    <table class="table" id="t">
        <thead>
        <tr>
            <th>企业名称</th>
            <th>所在城市</th>
            <th>企业网址</th>
            <th>联系电话</th>
            <th>累计实习人次</th>
        </tr>
        </thead>
        <tbody>
        {% for com in comInfor %}
            <tr>
                <td><a href="{{ url_for('main.cominfor',id=com.comId) }}">{{ com.comName }}</a></td>
                <td>{{ com.comAddress }}</td>
                <td><a href="https://{{ com.comUrl }}">{{ com.comUrl }}</a></td>
                <td>{{ com.comPhone }}</td>
                {% if current_user.roleId==0 %}
                    <td>{{ com.students }}</td>
                {% else %}
                    <td><a href="{{ url_for('.studentList',comId=com.comId) }}">{{ com.students }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.intecompany') }}
        </div>
    {% endif %}
{% endblock %}