{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_search.html" as search %}

{% block title %}搜索结果{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/JS/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    {% if sum==None %}
        <h2>{{ key }} 的搜索结果,共搜到 {{ num }} 条{% if journal==None %}实习信息：
            {{ search.search(url_for('.intern_search'),form) }}{% else %}实习日志:
            {{ search.search(url_for('.journal_search',journal='journal'),form) }}{% endif %}
        </h2>
        <table class="table" id="t">
            <thead>
            <tr>
                {% if journal==None %}
                    <th>姓名</th>
                {% else %}
                    <th>日志名称</th>
                {% endif %}
                <th>学号</th>
                <th>企业名称</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>审核状态</th>
                <th>实习状态</th>
            </tr>
            </thead>
            <tbody>
            {% for intern in internList %}
                <tr>
                    {% if journal==None %}
                        <td>
                            <a href="{{ url_for('.xIntern',stuId=intern.stuId, internId=intern.Id) }}">{{ intern.stuName }}</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ url_for('.xJournal', stuId=intern.stuId, internId=intern.Id) }}">{{ intern.stuName }}在{{ intern.comName }}的日子</a>
                        </td>
                    {% endif %}
                    <td>{{ intern.stuId }}</td>
                    <td>{{ intern.comName }}</td>
                    <td>{{ intern.start }}</td>
                    <td>{{ intern.end }}</td>
                    {% if intern.internCheck==0 %}
                        <td>未审核</td>
                    {% elif intern.internCheck==1 %}
                        <td>被退回</td>
                    {% else %}
                        <td>已审核</td>
                    {% endif %}
                    {% if intern.internStatus==0 %}
                        <td>待实习</td>
                    {% elif intern.internStatus==1 %}
                        <td>实习中</td>
                    {% else %}
                        <td>实习结束</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {#        学生实习总结与成果#}
        <h2>{{ key }} 的搜索结果,共搜到 {{ num }} 条实习总结与成果： {{ search.search(url_for('.sum_search',sums='sum'),form) }}</h2>
        <table class="table" id="t">
            <thead>
            <tr>
                {% if current_user.roleId!=0 %}
                    <th>姓名</th>
                    <th>学号</th>
                {% endif %}
                <th>企业名称</th>
                <th>实习成绩</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>审核状态</th>
                <!--   {% if current_user.can(Permission.STU_INTERN_EDIT) %}
                <th>操作</th>
            {% endif %} -->
            </tr>
            </thead>
            <tbody>
            {% for intern in internList %}
                <tr>
                    {% if current_user.roleId!=0 %}
                        <td>
                            <a href="{{ url_for('.xSum',stuId=intern.stuId, internId=intern.Id) }}">{{ intern.stuName }}</a>
                        </td>
                        <td>{{ intern.stuId }}</td>
                        <td>{{ intern.comName }}</td>
                    {% else %}
                        <td>
                            <a href="{{ url_for('.xSum',stuId=intern.stuId, internId=intern.Id) }}">{{ intern.comName }}</a>
                        </td>
                    {% endif %}

                    <td>{{ intern.sumScore }}</td>
                    <td>{{ intern.start }}</td>
                    <td>{{ intern.end }}</td>
                    {% if intern.sumCheck==0 or intern.sumCheck==None %}
                        <td>未审核</td>
                    {% elif intern.sumCheck==1 %}
                        <td>被退回</td>
                    {% else %}
                        <td>已审核</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}