{% extends "bootstrap/base.html" %}
{% block title %}学生实习工作日志{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}
    <table align="center" border="2" class="table-bordered">
        <caption>
            <h1>学生实习工作日志(待审核)
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                            data-toggle="dropdown">编辑<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">审核通过</a></li>
                        <li><a href="#">导出到Word</a></li>
                        <li><a href="#">修改</a></li>
                        <li><a href="#">删除</a></li>
                    </ul>
                </div>
            </h1>
            <tr>
                <th height="50" width="100">学号</th>
                <td height="50" width="450">1234567894</td>
                <th height="50" width="100">专业年级</th>
                <td height="50" width="450">5464565</td>
            </tr>
            <tr>
                <th height="50">姓名</th>
                <td height="50">小龙</td>
                <th height="50">实习单位</th>
                <td height="50">5464565</td>
            </tr>
            <tr>
                <th height="50">时间</th>
                <td height="50" align="center" colspan="4">实习内容</td>
            </tr>
        </caption>
    </table>
    <table align="center" border="2" class="table-bordered">
        <tr>
            <th height="50" width="100">第一周</th>
            <th height="50" width="100">星期</th>
            <th height="50" width="800">工作内容</th>
            <th height="50" width="100">备注</th>
        </tr>
        <tr>
            <td rowspan="3">年 月 日—<br>年月日</td>
            <th>一</th>
            <td width="400" height="200">342344342344</td>
        </tr>
        <tr>
            <th>二</th>
            <td width="400" height="200">342344342344</td>
        </tr>
        <tr>
            <th>三</th>
            <td width="400" height="200">342344342344</td>
        </tr>
    </table>
    <br><br><br><br>
{% endblock %}