{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}我的生活{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>我的实习日志
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('main.addjournal',comId=com.comId) }}">添加日志</a></li>
                    <li class="divider"></li>
                    <li><a href="#">修改</a></li>
                    <li class="divider"></li>
                    <li><a href="#">导入企业Excel表</a></li>
                </ul>
            </div>
        </h1>
    </div>
    <table align="center" border="2" class="table-bordered">
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50">{{ student.stuId }}</td>
            <th width="200">专业班级</th>
            <td width="400" height="50">{{ student.major }}{{ student.classes }}班</td>
        </tr>
        <tr>
            <th width="200">姓名</th>
            <td width="400" height="50">{{ student.stuName }}</td>
            <th width="200">实习单位</th>
            <td width="400" height="50">{{ com.comName }}</td>
        </tr>
    </table>
    <table align="center" border="2" class="table-bordered">
        <tr>
            <th height="50" colspan="2">时间</th>
            <th height="50" align="center" colspan="3">实习内容</th>
        </tr>
        {% for jour in journal %}
            <tr>
                <th width="200" height="50">第{{ jour.weekNo }}周</th>
                <th width="100" height="50">星期</th>
                <th width="900" height="50">工作内容</th>
            </tr>

            <tr>
                <th height="50">{{ jour.workStart }}至{{ jour.workEnd }}</th>
                <td height="50">一</td>
                <td height="50">{{ jour.mon }}</td>
            </tr>
            <tr>
                <th height="50"></th>
                <td height="50">二</td>
                <td height="50">{{ jour.tue }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">三</td>
                <td>{{ jour.wed }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">四</td>
                <td>{{ jour.thu }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">五</td>
                <td>{{ jour.fri }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">六</td>
                <td>{{ jour.sat }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">日</td>
                <td>{{ jour.sun }}</td>
            </tr>
        {% endfor %}
    </table>
    </br>
    </br></br>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
