{% extends "base.html" %}
{% import "_macros.html"as macros %}
{% import "_stu_filter.html" as filter %}
{% import "_search.html"as search %}

{% block title %}上传探访记录{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
    <script type="text/javascript">
        function select_all() {
            var checkboxes = document.getElementsByName('approve[]');
            var button = document.getElementById('toggle');

            if (button.value == '全选') {
                for (var i in checkboxes) {
                    checkboxes[i].checked = 'FALSE';
                }
                button.value = '全不选'
            } else {
                for (var i in checkboxes) {
                    checkboxes[i].checked = '';
                }
                button.value = '全选';
            }
        }
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>
     <!--更多-->
    <style>
        .first .second {
            display: none;
        }

        .first:hover .second {
            display: block;
        }
    </style>
 {% endblock %}

 {% block page_content %}
    <div class="page-header">
        <h1>请填写选择该次探访的相关学生。
            {{ search.search(url_for('.user_search'),form) }}
        </h1>


        {#筛选项#}
        {{ filter.stu_filter('.selectStudent',3,grade,major,classes) }}
        <table class="table" id="t">
        <thead>
        <tr>
            <th></th>
            <th>姓名</th>
            <th>实习公司</th>
            <th>学号</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
        </thead>
        <tbody>
        <form method="POST">
            {% for intern in internlist %}
                <tr>
                    <td><input type="checkbox" name="approve[]" value={{ intern.Id }}></td>
                    <td>
                        <a href="{{ url_for('.xJournal', stuId=intern.stuId, internId=intern.Id) }}"> {{ intern.stuName }}</a>
                    </td>
                    <td>{{ intern.comName }}</td>
                    <td>{{ intern.stuId }}</td>
                    <td>{{ intern.start }}</td>
                    <td>{{ intern.end }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <!-- <input type="hidden" name="page" value="{{ pagination.page }}"> -->
        <input type="button" class="btn btn-primary" id="toggle" value="全选" onClick="select_all()"/>
        <button type="submit" class="btn btn-success">选择</button>
        </form>
        <a href="{{ url_for('.visit') }}"><button type="submit" class="btn btn-default">跳过此步</button></a>
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.selectStudent') }}
        </div>
    {% endif %}
    {% endblock %}