{% extends "base.html" %}
{% import "_macros.html"as macros %}
{% import "_search.html" as search %}

{% block title %}企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <h1>请选择您的实习企业
        {{ search.search(url_for('.com_search',selectCom='selectCom'),form) }}
    </h1>
    <table class="table" id="t">
        <thead>
        <tr>
            <th>企业名称</th>
            <th>所在城市</th>
            <th>网址</th>
            <th>联系电话</th>
        </tr>
        </thead>
        <tbody>
        {% for com in comInfor %}
            <tr>
                <td><a href="{{ url_for('main.cominfor',id=com.comId) }}">{{ com.comName }}</a></td>
                <td>{{ com.comAddress }}</td>
                <td><a href="http://{{ com.comUrl }}">{{ com.comUrl }}</a></td>
                <td>{{ com.comPhone }}</td>
                <td><a href="{{ url_for('.addInternship',comId=com.comId) }}" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>选择</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.selectCom') }}
        </div>
    {% endif %}
{% endblock %}