{% extends "base.html" %}
{% import "_macros.html"as macros %}
{% import "_search.html" as search %}

{% block title %}企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <h1>请选择您的实习企业
        {{ search.search(url_for('.com_search',selectCom='selectCom'),form) }}
    </h1>
    <br><span class="label label-danger">注意</span>
*&nbsp&nbsp若遇到重复的企业信息，请尽量选择累计实习人次较多的企业。<br>
    <table class="table" id="t">
        <thead>
        <tr>
            <th style="word-wrap:break-word;">企业名称</th>
            <th style="word-wrap:break-word;">所在城市</th>
            <th style="word-wrap:break-word;">网址</th>
            <th style="word-wrap:break-word;">联系电话</th>
            <th style="word-wrap:break-word;">累计实习人次</th>
        </tr>
        </thead>
        <tbody>
        {% for com in comInfor %}
            <tr>
                <td><a href="{{ url_for('main.cominfor',id=com.comId) }}">{{ com.comName }}</a></td>
                <td>{{ com.comCity }}</td>
                <td>
                {% if 'http' in com.comUrl %}
                <a href="{{ com.comUrl }}" target="_blank">{{ com.comUrl }}</a>
                    {% elif '.' in  com.comUrl %}
                    <a href="http://{{ com.comUrl }}" target="_blank">{{ com.comUrl }}</a>
                    {% else %}
                    暂无
                    {%endif%}   
                </td>
                <td>{{ com.comPhone }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ com.students }}&nbsp;&nbsp;&nbsp;</td>
                <td><a href="{{ url_for('.addInternship',comId=com.comId) }}" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>选择</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.selectCom') }}
        </div>
    {% endif %}
{% endblock %}