{% extends "base.html" %}
{% import "_macros.html"as macros %}

{% block title %}实习企业情况统计{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <h1>实习企业情况统计</h1>
    <ul class="nav nav-tabs">
        <li><a href="{{ url_for('main.statistics_area_visual') }}">地域统计图</a></li>
        <li class="active"><a href="{{ url_for('main.statistics_com_visual') }}">企业统计图</a></li>
        <li><a href="{{ url_for('main.statistics_com_rank') }}">企业排行</a></li>
        <li><a href="{{ url_for('main.statistics_area_rank') }}">地域排行</a></li>
    </ul>
    <div>

        <br>
    <div class="btn-group" >
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {% if session['major'] %}
        {{ session['major'] }}
        {% else %}
            所有专业
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        {% if session['major'] %}
        <li><a href="{{url_for('.statistics_com_visual',m='m')}}">所有专业</a></li>
        {% endif %}
        {% for x in major %}
        {% if session['major']!=x.major %}
            <li><a href="{{url_for('.statistics_com_visual',major=x.major)}}">{{x.major}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
            <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {% if session['grade'] %}
        {{ session['grade'] }}级
        {% else %}
            所有年级
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        {% if session['grade'] %}
        <li><a href="{{url_for('.statistics_com_visual',g='g')}}">所有年级</a></li>
        {% endif %}
               {% for x in grade %}
               {% if session['grade']!=x.grade %}
            <li><a href="{{url_for('.statistics_com_visual',grade=x.grade)}}">{{x.grade}}级</a></li>
            {% endif %}
        {% endfor %}
        </ul>
  </div>
</div>
<br>
        <br>
        <script src="/static/JS/echarts.common.min.js"></script>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main" style="width: 1200px;height:450px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '企业累计实习人数统计图：'
                },
                tooltip: {},
                xAxis: {
                    axisLabel :{ 
                       interval:0,
                    }, 

                    // data: [ten0.innerHTML, ten1.innerHTML, ten2.innerHTML, ten3.innerHTML, ten4.innerHTML, ten5.innerHTML, "其他"]
                    data: ["{{ comlist[0]['comName'] }}", "{{ comlist[1]['comName'] }}", "{{ comlist[2]['comName'] }}", "{{ comlist[3]['comName'] }}", "{{ comlist[4]['comName'] }}", "{{ comlist[5]['comName'] }}"]
                },
                yAxis: {},
                series: [{
                    name: '累计人数',
                    type: 'bar',
                    // data: [ten10.innerHTML, ten11.innerHTML, ten12.innerHTML, ten13.innerHTML, ten14.innerHTML, ten15.innerHTML, other.innerHTML - ten10.innerHTML - ten11.innerHTML - ten12.innerHTML - ten13.innerHTML - ten14.innerHTML - ten15.innerHTML]
                    data: ["{{ comlist[0]['students'] }}", "{{ comlist[1]['students'] }}", "{{ comlist[2]['students'] }}", "{{ comlist[3]['students'] }}", "{{ comlist[4]['students'] }}", "{{ comlist[5]['students'] }}"]
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        <br><br>
        <div style="height: 100%; margin: 0">
            <div id="container" style="height: 700%"></div>
            <script type="text/javascript">
                // function com_detail(comId){
                //     window.location = "http://www.baidu.com";
                // {
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                var app = {};
                option = {
                    title: {
                        text: '企业累计实习人数百分比统计图：'
                    },
                    tooltip: {},
                    series: [
                        {
                            name: '累计人数',
                            type: 'pie',
                            radius: '65%',
                            data: [
                                // {value: ten10.innerHTML, name: ten0.innerHTML},
                                // {value: ten11.innerHTML, name: ten1.innerHTML},
                                // {value: ten12.innerHTML, name: ten2.innerHTML},
                                // {value: ten13.innerHTML, name: ten3.innerHTML},
                                // {value: ten14.innerHTML, name: ten4.innerHTML},
                                // {value: ten15.innerHTML, name: ten5.innerHTML},
                                // {
                                //     value: other.innerHTML - ten10.innerHTML - ten11.innerHTML - ten12.innerHTML - ten13.innerHTML - ten14.innerHTML - ten15.innerHTML,
                                //     name: "其他"
                                // }
                                {name:"{{ comlist[0]['comName'] }}", value:"{{ comlist[0]['students'] }}"},
                                {name:"{{ comlist[1]['comName'] }}", value:"{{ comlist[1]['students'] }}"},
                                {name:"{{ comlist[2]['comName'] }}", value:"{{ comlist[2]['students'] }}"},
                                {name:"{{ comlist[3]['comName'] }}", value:"{{ comlist[3]['students'] }}"},
                                {name:"{{ comlist[4]['comName'] }}", value:"{{ comlist[4]['students'] }}"},
                                {name:"{{ comlist[5]['comName'] }}", value:"{{ comlist[5]['students'] }}"},
                                //{name:"{{ comlist[6]['comName'] }}", value:"{{ comlist[6]['students'] }}"}
                            ],
                            roseType: 'angle',
                            itemStyle: {
                                normal: {
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 0, 0,0,0.5)'
                                }
                            }
                        }
                    ]
                };
                ;
                if (option && typeof option === "object") {
                    // var ecConfig1 = require('echarts/config');
                    myChart.setOption(option, true);
                    // myChart.on(ecConfig1.EVENT.CLICK, com_detail);
                }
            </script>
        </div>
    </div>


{% endblock %}       



