{% extends "base.html" %}
{% import "_macros.html"as macros %}

{% block title %}实习企业情况统计{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <h1>实习企业情况统计
    </h1>
    <ul class="nav nav-tabs">
        <li><a href="{{ url_for('main.statistics_area_visual') }}">地域统计图</a></li>
        <li><a href="{{ url_for('main.statistics_com_visual') }}">企业统计图</a></li>
        <li><a href="{{ url_for('main.statistics_com_rank') }}">企业排行</a></li>
        <li class="active"><a href="{{ url_for('main.statistics_area_rank') }}">地域排行</a></li>
    </ul>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>实习城市</th>
                <th>累计实习人次</th>
            </tr>
            </thead>
            <tbody>
            {% for com in comInfor %}
                <tr>
                    <td>{{ com.comCity }}</td>
                    <td>{{ com.sum_students }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.statistics_area_rank') }}
            </div>
        {% endif %}
{% endblock %}
