{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}实习企业信息{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        li {
            float: left;
            list-style: none;
        }
    </style>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <h1>学生信息
        <div style="float:right;width:350px"><!--长度-->
            <form role="form" method="POST" action="/search">
                <div class="row head">
                    <div class="col-lg-10"><!--位置-->
                        <div class="input-group ">
                            {{ form.key(type="text",class="form-control",placeholder="请先输入学生学号或姓名",required='') }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="rearch"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </div>
                        {{ form.submit(class="rearchSubmit btn btn-default",type="submit", style="display:none") }}
                    </div>
                </div>
            </form>
        </div>
    </h1>
    <li class="dropdown">过滤条件：
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">年级<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">2013级</li>
            <li class="divider"></li>
            <li><a href="#">2012级</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">专业<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">计算机科学与技术</a></li>
            <li class="divider"></li>
            <li><a href="#">软件工程</a></li>
            <li class="divider"></li>
            <li><a href="#">网络工程</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">班级<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">1班</a></li>
            <li class="divider"></li>
            <li><a href="#">2班</a></li>
            <li class="divider"></li>
            <li><a href="#">3班</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">实习状态<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">实习中</a></li>
            <li class="divider"></li>
            <li><a href="#">实习结束</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">审核状态<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">待审核</a></li>
            <li class="divider"></li>
            <li><a href="#">审核通过</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <table class="table" id="t">
        <thead>
        <tr>
            <th>姓名</th>
            <th>学号</th>
            <th>年级</th>
            <th>专业</th>
            <th>班级</th>
            <th>校内指导老师</th>
            <th>实习企业</th>
            <th>企业指导老师</th>
            <th>实习状态</th>
            <th>审核状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{ url_for('main.studetail') }}">严伟力</a></td>
            <td>123456789</td>
            <td>1995级</td>
            <td>哲学</td>
            <td>1班</td>
            <td>第三方</td>
            <td>美国</td>
            <td>士大夫</td>
            <td>实习结束</td>
            <td>已通过审核</td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-lg" >
    <p align="center">共1条记录 共1页 当前第一页</p>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}