{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}个人实习信息{% endblock %}
{% block head %}
    {{ super() }}
    <!-- 确认删除窗口 -->
    <script type="text/javascript">
        function ComfirmDelete() {
            $('#deleteToggle').modal();
        }
    </script>
{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <!--确认弹窗-->
    <div class="modal fade" id="deleteToggle" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    </h4>
                </div>
                <div class="modal-body">
                    <h5 class="modal-body" style="color:red;" id="deleteModalLabel">警告：删除操作将无法撤回，是否任要删除？</h5>
                </div>
                <div class="modal-footer">
                    <form action="/comfirmDeleteJournal_Intern" method="POST">
                        <input type="hidden" name="stuId" value="{{ student.stuId }}">
                        <input type="hidden" name="internId" value="{{ internship.Id }}">
                        <input type="hidden" name="from_url" value="/stuIntern">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">删除</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <table align="center" border="2" class="table-bordered">
        <caption>
            <h1>
                {% if current_user.roleId>0 %}
                    {{ student.stuName }}的实习信息
                {% else %}
                    我的实习信息
                {% endif %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                            data-toggle="dropdown">编辑<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% if internship.internCheck != 2 or current_user.roleId==3 %}
                            <li>
                                <a href="{{ url_for('main.editStuIntern',comId=comInfor.comId, internId=internship.Id, stuId=student.stuId) }}">
                                    修改</a></li>
                        {% endif %}
                        <li><a href="#">导出</a></li>
                        <li><a onClick="ComfirmDelete()">删除</a></li>
                    </ul>
                </div>
            </h1>
        </caption>
        <tr>
            <td colspan="6" height="50">一、学生信息</td>
        </tr>
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50" colspan="3">
                {{ student.stuId }}
            </td>
            <th width="200">姓名</th>
            <td width="400" height="50" colspan="3">{{ student.stuName }}</td>
        </tr>
        <tr>
            <th width="200">性别</th>
            <td width="400" height="50" colspan="3">
                {{ student.sex }}
            </td>
            <th width="200">专业班级</th>
            <td width="400" height="50" colspan="3">{{ student.major }}{{ student.classes }}班</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">二、实习企业信息</td>
        </tr>
        <tr>
            <th>企业名称</th>
            <td height="50" width="400" colspan="5">{{ comInfor.comName }}</td>
        </tr>
        <tr>
            <th>企业地址</th>
            <td height="50" width="400" colspan="5">{{ comInfor.comAddress }}</td>
        </tr>
        <tr>
            <th>企业简介</th>
            <td height="200" width="400" colspan="5">{{ comInfor.comBrief }}</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">三、实习岗位信息</td>
        </tr>
        <tr>
            <th>实习地点</th>
            <td width="400" height="50" colspan="5">{{ internship.address }}</td>
        </tr>
        <tr>
            <th>实习期间</th>
            <td width="400" height="50" colspan="5">{{ internship.start }}至{{ internship.end }}
            </td>
        </tr>
        <tr>
            <th>工作任务</th>
            <td width="400" height="200" colspan="5">{{ internship.task }}</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">四、实习指导老师</td>
        </tr>
        <table align="center" border="2" class="table-bordered">
            <tr>
                <th height="50" colspan="6">企业老师</th>
            </tr>
            <tr>
                <td height="50" width="300">姓名</td>
                <td height="50" width="300">职务/职称</td>
                <td height="50" width="300">电话</td>
                <td height="50" width="300">E-mail</td>
            </tr>
            {% for tea in comdirtea %}
                {% if tea.teaName %}
                    <tr>
                        <td height="50">{{ tea.teaName }}</td>
                        <td height="50">{{ tea.teaDuty }}</td>
                        <td height="50">{{ tea.teaPhone }}</td>
                        <td height="50" colspan="2">{{ tea.teaEmail }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <table align="center" border="2" class="table-bordered">
            <tr>
                <th height="50" colspan="6">校内老师</th>
            </tr>
            <tr>
                <td height="50" width="240">教工号</td>
                <td height="50" width="240">姓名</td>
                <td height="50" width="240">职务/职称</td>
                <td height="50" width="240">电话</td>
                <td height="50" width="240">E-mail</td>
            </tr>
            {% for tea in schdirtea %}
                {% if tea.teaName %}
                    <tr>
                        <td height="50">{{ tea.teaId }}</td>
                        <td height="50">{{ tea.teaName }}</td>
                        <td height="50">{{ tea.teaDuty }}</td>
                        <td height="50">{{ tea.teaPhone }}</td>
                        <td height="50" colspan="2">{{ tea.teaEmail }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td width="200" colspan="6" height="50">五、审核意见</td>
            </tr>
            <tr>
                <th width="200">专业意见</th>
                <td height="200" colspan="5">
                    {% if internship.opinion %}
                        {{ internship.opinion }}
                    {% else %}
                        暂无
                    {% endif %}
                </td>
            </tr>
        </table>
    </table>
    <br><br>
    {% if current_user.can(Permission.STU_INTERN_CHECK) %}
        <a href="{{ url_for('.stuIntern_comfirm', internId=internship.Id, stuId=student.stuId, internCheck=2) }}">
            <button class="btn btn-success">审核通过</button>
        </a>
        <a href="{{ url_for('.stuIntern_comfirm', internId=internship.Id, stuId=student.stuId, internCheck=1) }}">
            <button class="btn btn-primary">退回修改</button>
        </a>
    {% endif %}
    <br><br>
{% endblock %}
