{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="/static/CSS/bootstrap.min.css" rel="stylesheet">
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <script src="/static/JS/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <table align="center" border="2" class="table-bordered">
        <caption>
            <h1>学生实习信息(待审核)
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                            data-toggle="dropdown">编辑<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                       <li><a href="#">审核通过</a></li>
                        <li><a href="#">导出到Excel</a></li>
                        <li><a href="#">修改</a></li>
                        <li><a href="#">删除</a></li>
                    </ul>
                </div>
            </h1>
        </caption>
        <tr>
            <td colspan="6" height="50">一、学生信息</td>
        </tr>
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50" colspan="3">213123</td>
            <th width="200">姓名</th>
            <td width="400" height="50" colspan="3">严伟力</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">二、实习企业信息</td>
        </tr>
        <tr>
            <th>企业名称</th>
            <td height="50" width="400" colspan="5">东莞理工学院</td>
        </tr>
        <tr>
            <th>企业地址</th>
            <td height="50" width="400" colspan="5">东莞</td>
        </tr>
        <tr>
            <th>企业简介</th>
            <td height="200" width="400" colspan="5">东莞</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">三、实习岗位信息</td>
        </tr>
        <tr>
            <th>实习地点</th>
            <td width="400" height="50" colspan="5">广东东莞</td>
        </tr>
        <tr>
            <th>实习期间</th>
            <td width="400" height="50" colspan="5" 2016-2100
            </td>
        </tr>
        <tr>
            <th>工作任务</th>
            <td width="400" height="200" colspan="5">http://1234.com</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">四、实习指导老师</td>
        </tr>
        <tr>
            <th rowspan="2">企业老师</th>
            <th height="50">姓名</th>
            <th height="50">职务/职称</th>
            <th height="50">电话</th>
            <th height="50" colspan="2">E-mail</th>

        </tr>
        <tr>
            <td height="50">343243</td>
            <td height="50">343243</td>
            <td height="50">343243</td>
            <td height="50" colspan="2">343243</td>
        </tr>
        <tr>
            <th rowspan="2">校内老师</th>
            <th height="50">姓名</th>
            <th height="50">职务/职称</th>
            <th height="50">电话</th>
            <th height="50" colspan="2">E-mail</th>

        </tr>
        <tr>
            <td height="50">343243</td>
            <td height="50">343243</td>
            <td height="50">343243</td>
            <td height="50" colspan="2">343243</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">五、审核意见</td>
        </tr>
        <tr>
             <td width="200">专业意见</td>
            <td height="200" colspan="5">34234的方式的方式是地方但是的方式地方是是地方234</td>
        </tr>
    </table>
    <br><br><br><br>
{% endblock %}
