{% extends "base.html" %}
{% import "_macros.html"as macros %}
{% import "_intern_filter.html" as filter %}
{% import "_search.html" as search %}

{% block title %}学生实习信息{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>

    <!-- 全选学生实习信息  -->
    <script type="text/javascript">
        function select_all() {
            var checkboxes = document.getElementsByName('approve[]');
            var button = document.getElementById('toggle');

            if (button.value == '全选') {
                for (var i in checkboxes) {
                    checkboxes[i].checked = 'FALSE';
                }
                button.value = '全不选'
            } else {
                for (var i in checkboxes) {
                    checkboxes[i].checked = '';
                }
                button.value = '全选';
            }
        }
    </script>
            <!--更多-->
    <style>
        .first .second {
            display: none;
        }

        .first:hover .second {
            display: block;
        }
    </style>
{% endblock %}<!--先执行父模板-->

{% block page_content %}

    <h1>学生实习企业
        {% if current_user.can(Permission.STU_INTERN_EDIT) %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('.addcominfor', from_url='stuInternList') }}">添加</a></li>
                    <li><a href="{{ url_for('.excel_importpage', from_url='stuInternList') }}">批量导入</a></li>
                    {% if current_user.can(Permission.STU_INTERN_CHECK) %}
                        <li><a href="{{ url_for('.update_intern_filter',flag=0) }}">批量审核</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('.update_intern_filter',flag=1) }}">批量删除</a></li>
                </ul>
            </div>
        {% endif %}
        {{ search.search(url_for('.intern_search'),form) }}
    </h1>
    {#    筛选项#}
    {{ filter.intern_filter('.stuIntern_allCheck',0,grade,major,classes) }}
    <table class="table" id="t">
        <thead>
        <tr>
            <th></th>
            <th>学号</th>
            <th>姓名</th>
            <th>企业名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>审核状态</th>
            <th>实习状态</th>
        </tr>
        </thead>
        <tbody>
        <form method="POST">
            {% for intern in internlist %}
                <tr>
                    <td><input type="checkbox" name="approve[]" value={{ intern.Id }}>
                    </th>
                    <td>
                        <a href="{{ url_for('.xIntern',stuId=intern.stuId, internId=intern.Id, comId=intern.comId) }}">{{ intern.stuId }}</a>
                    </td>
                    <td>{{ intern.stuName }}</td>
                    <td>{{ intern.comName }}</td>
                    <td>{{ intern.start }}</td>
                    <td>{{ intern.end }}</td>
                    {% if intern.internCheck==0 %}
                        <td>未审核</td>
                    {% elif intern.internCheck==1 %}
                        <td>被退回</td>
                    {% else %}
                        <td>已审核</td>
                    {% endif %}
                    {% if intern.internStatus==0 %}
                        <td>待实习</td>
                    {% elif intern.internStatus==1 %}
                        <td>实习中</td>
                    {% else %}
                        <td>实习结束</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <input type="button" class="btn btn-primary" id="toggle" value="全选" onClick="select_all()"/>
        <button type="submit" class="btn btn-success">审核通过</button>
        </form>
        <a href="{{ url_for('.stuInternList') }}">
            <button class="btn btn-primary">返回</button>
        </a>
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.stuIntern_allCheck') }}
        </div>
    {% endif %}
{% endblock %}