{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}我的实习信息{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block page_content %}
    <table class="table" id="t">
        <thead>
        <h1>{{ student.stuName }}的实习企业
            <a href="{{ url_for('.addcominfor') }}" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-plus"></span> 添加
            </a>
        </h1>
        <tr>
            <th>企业名称</th>
            <th>联系电话</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>审核状态</th>
            <th>实习状态</th>
            {% if current_user.can(Permission.STU_INTERN_EDIT) %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for com in comList %}
            <tr>
                <td><a href="{{ url_for('.stuIntern',stuId=student.stuId, internId=com.internId, comId=com.companyId) }}">{{ com.comName }}</a></td>
                <td>{{ com.comPhone }}</td>
                <td>{{ com.start }}</td>
                <td>{{ com.end }}</td>
                {% if com.internCheck==0 %}
                    <td>未审核</td>
                {% elif com.internCheck==1 %}
                    <td>被退回</td>
                {% else %}
                    <td>已审核</td>
                {% endif %}
                {% if com.internStatus==0 %}
                    <td>实习中</td>
                {% elif com.internStatus==2 %}
                    <td>待实习</td>
                {% else %}
                    <td>实习结束</td>
                {% endif %}
                {% if current_user.can(Permission.STU_INTERN_EDIT) %}
                    <td>
                        <a href="#">修改</a>|
                        {% if current_user.can(Permission.STU_INTERN_CHECK) and com.internCheck==0 %}
                            <a href="#">审核</a>|
                        {% endif %}
                        <a href="#">|删除</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}