{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}
{% import "_intern_filter.html"as filter %}

{% block title %}实习日志{% endblock %}
{% block head %}
    {{ super() }}
    <!-- should be delete -->
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/JS/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">

    <!-- 全选企业  -->
    <script type="text/javascript">
        function select_all() {
            var checkboxes = document.getElementsByName('approve[]');
            var button = document.getElementById('toggle');

            if (button.value == '全选') {
                for (var i in checkboxes) {
                    checkboxes[i].checked = 'FALSE';
                }
                button.value = '全不选'
            } else {
                for (var i in checkboxes) {
                    checkboxes[i].checked = '';
                }
                button.value = '全选';
            }
        }
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>
{% endblock %}

{% block page_content %}
    <h1>学生实习日志
        {% if current_user.can(Permission.STU_INTERN_EDIT) %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if current_user.can(Permission.STU_INTERN_CHECK) %}
                        <li><a href="{{ url_for('.update_intern_filter',flag=3) }}">批量审核</a></li>
                        <li><a href="{{ url_for('.update_intern_filter',flag=4) }}">批量删除</a></li>
                        </ul>
                        </div>
                    {% endif %}
            <div style="float:right;width:300px"><!--长度-->
                <form role="form" method="POST" action="/interncompany">
                    <div class="row head">
                        <div class="col-lg-10"><!--位置-->
                            <div class="input-group ">
                                {{ form.key(type="text",class="form-control",placeholder="请输入关键字",required='') }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="rearch"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                            </div>
                            {{ form.submit(class="rearchSubmit btn btn-default",type="submit", style="display:none") }}
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </h1>
    {#    筛选项#}
    {{ filter.intern_filter('.stuJournal_allCheck',3,grade,major,classes) }}

    <table class="table" id="t">
        <thead>
        <tr>
            <th></th>
            <th>日志名称</th>
            <th>学号</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>日志状态</th>
            <th>实习状态</th>
            <!--
            <th>操作</th>
            -->
        </tr>
        </thead>
        <tbody>
        <form method="POST">
            {% for intern in internlist %}
                <tr>
                    <td><input type="checkbox" name="approve[]" value={{ intern.Id }}></td>
                    <td>
                        <a href="{{ url_for('.xJournal', stuId=intern.stuId, internId=intern.Id) }}"> {{ intern.stuName }}在{{ intern.comName }}的日子</a>
                    </td>
                    <td>{{ intern.stuId }}</td>
                    <td>{{ intern.start }}</td>
                    <td>{{ intern.end }}</td>

                    <!-- 日志状态 -->
                    {% if intern.jourCheck == 0 %}
                        <td>未审核</td>
                    {% elif intern.jourCheck == 1 %}
                        <td>已审核</td>
                    {% endif %}

                    <!-- 实习状态 -->
                    {% if intern.internStatus == 1 %}
                        <td>实习中</td>
                    {% elif intern.internStatus == 2 %}
                        <td>实习结束</td>
                    {% endif %}

                    <!--
                    <td><a>审核</a>|<a>删除</a></td>
                    -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <input type="hidden" name="page" value="{{ pagination.page }}">
        <input type="button" class="btn btn-primary" id="toggle" value="全选" onClick="select_all()"/>
        <button type="submit" class="btn btn-success">审核通过</button>
        </form>
        <a href="{{ url_for('.stuJournalList') }}">
            <button class="btn btn-primary">返回</button>
        </a>
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.stuJournal_allCheck') }}
        </div>
    {% endif %}
{% endblock %}1