{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}
{% import "_intern_filter.html" as filter %}
{% import "_search.html" as search %}

{% block title %}实习日志{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/JS/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>
{% endblock %}<!--先执行父模板-->


{% block page_content %}
    {% if current_user.roleId == 0 %}
        <h1>{{ internlist[0].stuName }}的实习日志
    {% else %}
        <h1>学生实习日志
        {% if current_user.can(Permission.STU_JOUR_EDIT) %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if current_user.can(Permission.STU_JOUR_CHECK) %}
                        <li><a href="{{ url_for('.update_intern_filter',flag=3) }}">批量审核</a></li>
                        <li><a href="{{ url_for('.update_intern_filter',flag=4) }}">批量删除</a></li>
                    {% endif %}
                    <li><a href="javascript:{}" onclick="document.getElementById('export_form').submit();">批量导出</a>
                </ul>
            </div>
        {% endif %}
    {% endif %}
{{ search.search(url_for('.journal_search',journal='journal'),form) }}
</h1>
<!--Excel导出-->
<form id="export_form" method="post">
    <input type="hidden" name="isexport" value="1">
</form>
{% if current_user.role.roleId!=0 %}
    {#    筛选项#}
    {{ filter.intern_filter('.stuJournalList',2,grade,major,classes) }}
{% endif %}
<div>
    <table class="table" id="t">
        <thead>
        <tr>
            <th>日志名称</th>
            {% if current_user.roleId !=0 %}
                <th>学号</th>
            {% endif %}
            <th>开始时间</th>
            <th>结束时间</th>
            <th>日志状态</th>
            <th>实习状态</th>
            <!--
            <th>操作</th>
            -->
        </tr>
        </thead>
        <tbody>
        <div>
            {% for intern in internlist %}
                <tr>
                    {% if current_user.roleId==0 %}
                        <td>
                            <a href="{{ url_for('.xJournal', stuId=intern.stuId, internId=intern.Id) }}">我在{{ intern.comName }}的日子</a>
                        </td>
                    {% else %}
                        <td>
                            {% if current_user.can(Permission.STU_JOUR_SEARCH) %}
                                <a href="{{ url_for('.xJournal', stuId=intern.stuId, internId=intern.Id) }}">{{ intern.stuName }}在{{ intern.comName }}的日子</a>
                            {% else %}
                                {{ intern.stuName }}在{{ intern.comName }}的日子
                            {% endif %}
                        </td>
                        <td>{{ intern.stuId }}</td>
                    {% endif %}
                    <td>{{ intern.start }}</td>
                    <td>{{ intern.end }}</td>

                    {% if intern.jourCheck == 1 %}
                        <td>审核通过</td>
                    {% elif intern.jourCheck==0 %}
                        <td>待审核</td>
                    {% endif %}

                    {% if intern.internStatus == 0 %}
                        <td>待实习</td>
                    {% elif intern.internStatus == 1 %}
                        <td>实习中</td>
                    {% else %}
                        <td>实习结束</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.stuJournalList') }}
        </div>
    {% endif %}
</div>
{% if current_user.roleId != 0 %}
    <br><span class="label label-danger">注意</span>
    <br>*&nbsp&nbsp若部分实习日志未能显示, 请先通过其实习信息的审核
{% endif %}
{% endblock %}