{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}
{% import "_intern_filter.html" as filter %}
{% import "_search.html" as search %}

{% block title %}
    {% if current_user.roleId==0 %}
        我的实习总结与成果
    {% else %}
        学生实习总结与成果
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <!--搜素框-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
    <!--筛选按钮-->
    <script type="text/javascript">
        window.onload = function () {
            var obj = document.getElementById("sel");
            obj.onclick = function () {
                obj.className = (obj.className == "class1" ? "class2" : "class1");
                obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
            }
        }
    </script>
    <!--更多-->
    <style>
        .first .second {
            display: none;
        }

        .first:hover .second {
            display: block;
        }
    </style>
{% endblock %}<!--先执行父模板-->

{% block page_content %}
    {% if current_user.roleId==0 %}
        <h1>{{ student.stuName }}的实习总结与成果
    {% else %}
        <h1>学生实习总结与成果
    {% endif %}
{% if current_user.can(Permission.STU_INTERN_EDIT) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                data-toggle="dropdown">编辑<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% if current_user.can(Permission.STU_INTERN_CHECK) %}
                <li><a href="{{ url_for('.update_intern_filter',flag=7) }}">批量审核</a></li>
                <li><a href="{{ url_for('.update_intern_filter',flag=8) }}">批量删除</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{{ search.search(url_for('.sum_search',sum='sum'),form) }}

</h1>
{% if current_user.role.roleId!=0 %}
    {{ filter.intern_filter('.stuSumList',6,grade,major,classes) }}
{% endif %}
<table class="table" id="t">
    <thead>
    <tr>
        {% if current_user.roleId!=0 %}
            <th>姓名</th>
            <th>学号</th>
        {% endif %}
        <th>企业名称</th>
        <th>实习成绩</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>审核状态</th>
        <!--   {% if current_user.can(Permission.STU_INTERN_EDIT) %}
                <th>操作</th>
            {% endif %} -->
    </tr>
    </thead>
    <tbody>
    {% for intern in internlist %}
        <tr>
            {% if current_user.roleId!=0 %}
                <td>
                    <a href="{{ url_for('.xSum',stuId=intern.stuId, internId=intern.Id) }}">{{ intern.stuName }}</a>
                </td>
                <td>{{ intern.stuId }}</td>
                <td>{{ intern.comName }}</td>
            {% else %}
                <td>
                    <a href="{{ url_for('.xSum',stuId=intern.stuId, internId=intern.Id) }}">{{ intern.comName }}</a>
                </td>
            {% endif %}

            <td>{{ intern.sumScore }}</td>
            <td>{{ intern.start }}</td>
            <td>{{ intern.end }}</td>
            {% if intern.sumCheck==2 %}
                <td>已审核</td>
            {% elif intern.sumCheck==1 %}
                <td>被退回</td>
            {% else %}
                <td>未审核</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination,'.stuInternList') }}
    </div>
{% endif %}
{% if current_user.roleId != 0 %}
    <br><span class="label label-danger">注意</span>
    <br>*&nbsp&nbsp若部分实习总结与成果未能显示, 请先通过其实习信息的审核
{% endif %}
{% endblock %}