{% extends "base.html" %} {% import "_macros.html"as macros %} {% import "_intern_filter.html"as filter %} {% import "_search.html" as search %} {% block title %}实习总结成果{% endblock %} {% block head %} {{ super() }}
<!--搜素框-->
<script type="text/javascript">
$(document).ready(function() {
    $("#rearch").click(function() {
        $(".rearchSubmit").click();
    });
});
</script>
<!-- 全选企业  -->
<script type="text/javascript">
function select_all() {
    var checkboxes = document.getElementsByName('approve[]');
    var button = document.getElementById('toggle');

    if (button.value == '全选') {
        for (var i in checkboxes) {
            checkboxes[i].checked = 'FALSE';
        }
        button.value = '全不选'
    } else {
        for (var i in checkboxes) {
            checkboxes[i].checked = '';
        }
        button.value = '全选';
    }
}
</script>
<!--筛选按钮-->
<script type="text/javascript">
window.onload = function() {
    var obj = document.getElementById("sel");
    obj.onclick = function() {
        obj.className = (obj.className == "class1" ? "class2" : "class1");
        obj.value = (obj.value == "收起筛选" ? "显示筛选" : "收起筛选");
    }
}
</script>
<!--更多-->
<style>
.first .second {
    display: none;
}

.first:hover .second {
    display: block;
}
</style>
{% endblock %} {% block page_content %}
<h1>学生实习总结成果
        {% if current_user.can(Permission.STU_SUM_EDIT) %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">更多<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if current_user.can(Permission.STU_SUM_SCO_CHECK) %}
                        <li><a href="{{ url_for('.update_intern_filter',flag=7) }}">批量审核</a></li>
                        <li><a href="{{ url_for('.update_intern_filter',flag=8) }}">批量删除</a></li>
                    {% endif %}
                </ul>
            </div>
            {{ search.search(url_for('.sum_search',sum='sum'),form) }}
        {% endif %}
    </h1> {# 筛选项#} {{ filter.intern_filter('.stuSum_allCheck',7,grade,major,classes) }} {% if current_user.roleId != 0 %}
<span class="label label-danger">注意</span> *&nbsp&nbsp只有实习日志通过审核并上传了实习总结和实习成绩的学生才会出现在此列表。 {% endif %}
<table class="table" id="t">
    <thead>
        <tr>
            <th></th>
            <th>姓名</th>
            <th>学号</th>
            <th>企业名称</th>
            <th>实习成绩</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>审核状态</th>
        </tr>
    </thead>
    <tbody>
        <form method="POST">
            {% for intern in internlist %}
            <tr>
                <td>
                    <input type="checkbox" name="approve[]" value={{ intern.Id }}>
                </td>
                <td>
                    <a href="{{ url_for('.xSum',stuId=intern.stuId, internId=intern.Id) }}">{{ intern.stuName }}</a>
                </td>
                <td>{{ intern.stuId }}</td>
                <td>{{ intern.comName }}</td>
                <td>{{ intern.sumScore }}</td>
                <td>{{ intern.start }}</td>
                <td>{{ intern.end }}</td>
                {% if intern.sumCheck==2 %}
                <td>已审核</td>
                {% elif intern.sumCheck==1 %}
                <td>被退回</td>
                {% else %}
                <td>待审核</td>
                {% endif %}
            </tr>
            {% endfor %}
    </tbody>
</table>
<div>
    <input type="hidden" name="page" value="{{ pagination.page }}">
    <input type="button" class="btn btn-primary" id="toggle" value="全选" onClick="select_all()" />
    <button type="submit" class="btn btn-success">审核通过</button>
    </form>
    <a href="{{ url_for('.stuSumList') }}">
        <button class="btn btn-primary">返回</button>
    </a>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,'.stuSum_allCheck') }}
</div>
{% endif %} {% endblock %}1
