{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width"/>
    <style type="text/css" media="screen">
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        #flashContent {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/Flexpaper/css/flexpaper.css"/>
    <script type="text/javascript" src="/static/Flexpaper/js/flexpaper.js"></script>
    <script type="text/javascript" src="/static/Flexpaper/js/flexpaper_handlers.js"></script>


{% endblock %}
{% block page_content %}
    <input type='hidden' id='route' name='provSelect1' runat='server' value='{{ p }}'/><!--参数swf文件路径-->
    <div style="position:absolute;left:100px;top:100px;">
        <div id="documentViewer" class="flexpaper_viewer" style="width:770px;height:500px"></div>
    </div>
    <script type="text/javascript">
        var route = $("#route").val();<!--swf文件路径-->
        $('#documentViewer').FlexPaperViewer(
                {
                    config: {

                        SWFFile: route, <!--swf文件路径-->
                        jsDirectory: '/static/Flexpaper/FlexPaperViewer.swf', <!--FlexPaperViewer.swf所在文件夹-->
                        expressInstall: '/static/Flexpaper/js/expressInstall.swf', <!--文件expressInstall.swf所在路径-->

                        Scale: 2.0, <!--缩放比例-->
                        ZoomTransition: 'easeOut', <!--缩放样式-->
                        ZoomTime: 0.5,
                        ZoomInterval: 0.2,
                        FitPageOnLoad: true,
                        FitWidthOnLoad: false,
                        FullScreenAsMaxWindow: false,
                        ProgressiveLoading: false,
                        MinZoomSize: 0.2,
                        MaxZoomSize: 5,
                        SearchMatchAll: false,
                        InitViewMode: 'Portrait',
                        RenderingOrder: 'flash',
                        StartAtPage: '3',

                        ViewModeToolsVisible: true,
                        ZoomToolsVisible: true,
                        NavToolsVisible: true,
                        CursorToolsVisible: true,
                        SearchToolsVisible: true,
                        WMode: 'window',
                        localeChain: 'en_US'
                    }
                }
        );
    </script>
{% endblock %}

