{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}

{% block title %}实习学生{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/JS/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rearch").click(function () {
                $(".rearchSubmit").click();
            });
        });
    </script>
{% endblock %}<!--先执行父模板-->

{% block page_content %}
    <h1>教师用户
        {% if current_user.can(Permission.COM_INFOR_EDIT) %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if current_user.can(Permission.COM_INFOR_CHECK) %}
                        <li><a href="{{ url_for('.addTeacher') }}">添加</a></li>
                        <li><a href="#">批量添加</a></li>
                        <li><a href="#">批量设置角色</a></li>
                        <li><a href="#">批量删除</a></li>
                        </ul>
                        </div>
                    {% endif %}
        {% endif %}
        <div style="float:right;width:350px"><!--长度-->
            <form role="form" method="POST" action="/search">
                <div class="row head">
                    <div class="col-lg-10"><!--位置-->
                        <div class="input-group ">
                            {{ form.key(type="text",class="form-control",placeholder="请先输入关键字",required='') }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="rearch"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </div>
                        {{ form.submit(class="rearchSubmit btn btn-default",type="submit", style="display:none") }}
                    </div>
                </div>
            </form>
        </div>
    </h1>
    <p></p>
    <table class="table" id="t">
        <thead>
        <tr>
            <th>姓名</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>性别</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>教工号</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>系统角色</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
        </tr>
        </thead>
        <tbody>

        {% for tea in teacher %}
            <tr>
                <td>{{ tea.teaName }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ tea.teaSex }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ tea.teaId }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                {% if session[tea.teaId]=="admin" %}
                    <td>管理员</td>
                {% elif session[tea.teaId]=="teacher" %}
                    <td>普通老师</td>
                {% elif session[tea.teaId]=="checkTeacher" %}
                    <td>审核老师</td>    
                {% endif %}
                <td><a>修改</a>|<a>设置角色</a>|<a>删除</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.teaUserList',comId=comId) }}
        </div>
    {% endif %}
{% endblock %}