{% extends "base.html" %}

{% block title %}上传探访记录{% endblock %}
{% block head %}
    {{ super() }}
        <!-- 文件上传 -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/fileinput.min.css">
    <script type="text/javascript" src="/static/JS/fileinput.min.js" charset="UTF-8"></script>
    <script src="/static/JS/locales/fileinput_locale_zh.js" charset="utf-8"></script>
{% endblock %}

  {% block page_content %}
   {% if current_user.can(Permission.UPLOAD_VISIT) %}
    <form method="POST" enctype="multipart/form-data">
    <h3>上传我的探访记录</h3>
    	<input id="file-1" type="file" class="file" name="visit" data-overwrite-initial="false" data-min-file-count="1"><h5><small>
    <span class="label label-danger">注意</span>
    <br>
    *&nbsp&nbsp单文件上传，仅支持pdf格式文件上传
    <br>*&nbsp&nbsp
    探访记录文件不可重名，若重名，新的探访记录将会覆盖原有探访记录.</small></h5>
    </form>
    <br>
    {% endif %}
  {% endblock %}

  {% block scripts %}
            <script type="text/javascript">
            $('.file').fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions : ['pdf'],//接收的文件后缀,
                uploadAsync:true,
                maxFileCount: 100,
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式             
            }).on("fileuploaded", function(event, data) {
        if(data.response)
        {
            alert('处理成功');
        }
    });;
</script>
{% endblock %}