{% extends "base.html" %}

{% block title %}上传探访记录{% endblock %}
{% block head %}
    {{ super() }}
        <!-- 文件上传 -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/fileinput.min.css">
    <script type="text/javascript" src="/static/JS/fileinput.min.js" charset="UTF-8"></script>
    <script src="/static/JS/locales/fileinput_locale_zh.js" charset="utf-8"></script>
        <!-- 教师确认删除窗口 ,传递参数-->
    <script type="text/javascript">
        function ComfirmDelete(str) {
            $('#deleteToggle').modal();
            var obj = document.getElementById("filename_delete");
            obj.value = str
        }
    </script>
            <!-- 学生页面确认删除窗口 ,传递参数-->
    <script type="text/javascript">
        function stuComfirmDelete(str,fileId) {
            $('#studeleteToggle').modal();
            var obj = document.getElementById("file_delete");
            obj.value = str
            var obj = document.getElementById("fileId");
            obj.value = fileId
        }
    </script>
    <!-- ajax -->
    <script>
function showStudentTable(filename)
{
  var xmlhttp;    
  if (window.XMLHttpRequest)
  {
    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
    xmlhttp=new XMLHttpRequest();
  }
  else
  {
    // IE6, IE5 浏览器执行代码
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      document.getElementById("studentTable").innerHTML=xmlhttp.responseText;
      // responseText返回一个页面
    }
  }
  xmlhttp.open("GET","/studentTable/"+filename,true);
  xmlhttp.send();
}
</script>
    {% endblock %}

  {% block page_content %}
   {% if current_user.can(Permission.UPLOAD_VISIT) and not v %}
    <form method="POST" enctype="multipart/form-data">
    <h3>上传我的探访记录</h3>
    	<input id="file-1" type="file" class="file" name="visit" data-overwrite-initial="false" data-min-file-count="1"><h5><small>
    <span class="label label-danger">注意</span>
    <br>
    *&nbsp&nbsp单文件上传，仅支持pdf格式文件上传
    <br>*&nbsp&nbsp
    探访记录文件不可重名，若重名，新的探访记录将会覆盖原有探访记录.</small></h5>
    </form>
    <br>
   {% endif %}
   
    	<!-- 上传页面信息 -->
        {% if files %}
            <table class="table">
        <h3>探访历史</h3>
        <tr>
            <th>名称</th>
            <th></th>
            <th>操作</th>
            <th></th>
            <th>相关学生</th>
        </tr>
    	{% for x in files %}
    	<tr>
    		<td><a data-toggle="tooltip" title="点击进行在线阅览" href="{{ url_for('.upload_Visit',filename=x) }}">{{ x }}</a></td>
    	    <td></td>
    		<td><a href="javascript:{}"
                       onclick="document.getElementById('{{x}}_download').submit();">下载</a>|<a onclick="ComfirmDelete({{ '\''+x+'\'' }})">删除</a></td>
            <td></td>
            <td><button type="button" class="btn btn-success btn-sm" style="text-shadow: black 5px 3px 3px;" data-toggle="modal" data-target="#myModal" onclick="showStudentTable({{'\''+x+'\''}})">
  <span class="glyphicon glyphicon-user"></span> <span class="glyphicon glyphicon-user"></span>
</button></td>

    	</tr>
    <!-- 提供下载的form -->
    <form id="{{x}}_download" method="post">
        <input type="hidden" name="download" value="{{ x }}">
    </form>
    	{% endfor %}
        </table>
        {% endif %}
    	<!-- 学生的被探访记录 -->
        {% if id_file %}
            <table class="table">
        <h3>探访历史</h3>
        <tr>
            <th>名称</th>
            <th></th>
            <th>上传者</th>
            <th>上传时间</th>
            <th></th>
            <th>操作</th>
        </tr>
       {% for id,x,name,time in id_file %}
    	<tr>
    		<td><a data-toggle="tooltip" title="点击进行在线阅览" href="{{ url_for('.visit',filename=x,internId=internId,fileId=id,v='v') }}">{{ x }}</a></td>
    	    <td></td>
    		<td>{{name}}</td>
    		<td>{{time}}</td>
            <td></td>
    		<td><a href="javascript:{}"
                       onclick="document.getElementById('{{x}}_download').submit();">下载</a>
                       {% if current_user.can(Permission.UPLOAD_VISIT) %}
                       |<a onclick="stuComfirmDelete({{ '\''+x+'\'' }},{{id}})">删除</a>
                       {% endif %}</td>
    	</tr>
    <!-- 提供下载的form -->
    <form id="{{x}}_download" method="post">
        <input type="hidden" name="download" value="{{ x }}">
        <input type="hidden" name="fileId" value="{{ id }}">
    </form>
    	{% endfor %}
        </table>
        {% else %}
        {% if v:%}
        <p><h2>该学生暂无相关被探访记录</h2></p>
        {%endif%}
        {% endif %}
            {% if path %}
    <h3>在线阅览</h3>
            <div id="pdf">
            <object width="1000" height="1100" type="application/pdf" data="{{ path }}" id="pdf_content">
                <p>你的浏览器不支持在线阅览, 请更换浏览器, 或点击&nbsp<a href="javascript:{}"
                                                    onclick="document.getElementById('pdf').submit();">这里</a>&nbsp下载离线阅览
                </p>
            </object>
        </div>
        {% endif %}
    <!--教师确认弹窗-->
    <div class="modal fade" id="deleteToggle" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示：
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-body" style="color:red;" id="deleteModalLabel">警告：删除操作将无法撤回，是否任要删除？</h4>
                </div>
                <div class="modal-footer">
                    <form action="/upload_Visit" method="POST">
                        <input type="hidden" id="filename_delete" name=delete>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">删除</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--学生实习页面确认弹窗-->
    <div class="modal fade" id="studeleteToggle" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示：
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-body" style="color:red;" id="deleteModalLabel">警告：删除操作将无法撤回，是否任要删除？</h4>
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('.visit',internId=session['internId'])}}" method="POST">
                        <input type="hidden" id="file_delete" name="delete">
                        <input type="hidden" id="fileId" name="fileId">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">删除</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 相关学生框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    本次探访记录的相关学生
                </h4>
            </div>
            <div id="studentTable"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->



  {% endblock %}

  {% block scripts %}
            <script type="text/javascript">
            $('.file').fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions : ['pdf'],//接收的文件后缀,
                maxFileCount: 100,
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式             
            });
</script>
{% endblock %}