{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}个人实习信息{% endblock %}
{% block head %}
    {{ super() }}
    <!-- 图片预览 -->
    <link rel="stylesheet" href="/static/CSS/bootstrap-grid.min.css">
<link rel="stylesheet" href="/static/CSS/zoomify.min.css">
    <style>
        .min {
            width: 200px;
            height: auto;
        }
    </style>
    <style type="text/css">
        p {
            white-space: pre-line;
        }
    </style>
    <!-- bootstrap日期选择器 -->
    <script type="text/javascript" src="/static/JS/datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/bootstrap-datetimepicker.min.css">
    <style type="text/css">
        #task {
            height: 200px;
        }
    </style>
    <!-- 文件上传 -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/fileinput.min.css">
    <script type="text/javascript" src="/static/JS/fileinput.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/JS/locales/fileinput_locale_zh.js"></script>
        <script src="/static/JS/locales/fileinput_locale_zh.js" charset="utf-8"></script>
{% endblock %}

{% block page_content %}

    <table align="center" border="2" class="table-bordered">
        <caption>
            <h1>
                {% if current_user.can(Permission.STU_INTERN_SEARCH) %}
                    {{ student.stuName }}的实习信息
                {% else %}
                    我的实习信息
                {% endif %}
            </h1>
        </caption>

        <tr>
            <td colspan="6" height="50">一、学生信息</td>
        </tr>
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50" colspan="3">
                {{ student.stuId }}
            </td>
            <th width="200">姓名</th>
            <td width="400" height="50" colspan="3">{{ student.stuName }}</td>
        </tr>
        <tr>
            <th width="200">性别</th>
            <td width="400" height="50" colspan="3">
                {{ student.sex }}
            </td>
            <th width="200">专业班级</th>
            <td width="400" height="50" colspan="3">{{ student.major }}{{ student.classes }}班</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">二、实习企业信息</td>
        </tr>
        <tr>
            <th>企业名称</th>
            <td height="50" width="400" colspan="5">{{ comInfor.comName }}</td>
        </tr>
        <tr>
            <th>企业地址</th>
            <td height="50" width="400" colspan="5">{{ comInfor.comAddress }}</td>
        </tr>
        <tr>
            <th>企业简介</th>
            <td height="200" width="400" colspan="5">{{ comInfor.comBrief }}</td>
        </tr>
        <tr>
            <td width="200" height="50">三、实习岗位信息</td>
        </tr>
        <form method="POST" action="/xInternEdit_intern">
                    <input type="hidden" name="comId" value="{{ comInfor.comId }}">
                    <input type="hidden" name="internId" value="{{ internship.Id }}">
                    <input type="hidden" name="stuId" value="{{ student.stuId }}">
            <tr>
                <th>实习期间</th>
                <td width="400" height="50" colspan="5">
                    <div class="form-inline">
                        {{ internform.start(required='', value=internship.start,class="form-control datetimepicker") }}至
                    {{ internform.end(required='', value=internship.end, class="form-control datetimepicker") }}</td>
                <div>
            </tr>
            <tr>
                <th>工作任务</th>
                <td width="400" height="200" colspan="5">
                    <!-- it's a magic -->
                    {% set temp_task = internform.task.process_data(internship.task) %}
                    {{ internform.task(class="form-control", required='', cols="190", row="190",) }}</td>
            </tr>
            <tr>
                <td colspan="6"
                    align="center">{{ internform.submit(class="btn btn-danger",type="submit",id='finish', value="确定修改") }}</td>
            </tr>
        </form>
        <tr>
            <td width="200" colspan="6" height="50">四、实习指导老师</td>
        </tr>
        <table align="center" border="2" class="table-bordered">
            <tr>
                <th height="50" colspan="6">企业指导老师</th>
            </tr>
            <tr>
                <td height="50" width="300">姓名</td>
                <td height="50" width="300">职务/职称</td>
                <td height="50" width="300">电话</td>
                <td height="50" width="300">E-mail</td>
            </tr>
            {% for tea in comdirtea %}
                {% if tea.cteaName %}
                    <tr>
                        <form method="POST" action="/xInternEdit_comdirtea">
                            {{ comdirteaform.hidden_tag() }}
                            <input type="hidden" name="comId" value="{{ comInfor.comId }}">
                            <input type="hidden" name="start" value="{{ internship.start }}">
                            <input type="hidden" name="internId" value="{{ internship.Id }}">
                            <input type="hidden" name="stuId" value="{{ student.stuId }}">
                            <input type="hidden" name="Id" value="{{ tea.Id }}">
                            <td height="50">{{ comdirteaform.cteaName(required='', value=tea.cteaName,class="form-control") }}</td>
                            <td height="50">{{ comdirteaform.cteaDuty(required='', value=tea.cteaDuty,class="form-control") }}</td>
                            <td height="50">{{ comdirteaform.cteaPhone(required='', value=tea.cteaPhone,class="form-control") }}</td>
                            <td height="50"
                                colspan="2">{{ comdirteaform.cteaEmail(required='', value=tea.cteaEmail,class="form-control") }}</td>
                            {{ comdirteaform.csrf_token }}
                            <td>{{ comdirteaform.submit(class="btn btn-danger",type="submit", value="确定修改") }}</td>
                        </form>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <table align="center" border="2" class="table-bordered">
            <!-- 校内指导老师在"个人信息--学生信息"处修改 -->
            <tr>
                <th height="50" colspan="6">校内指导老师</th>
            </tr>
            <tr>
                <td height="50" width="800">姓名</td>
                <td height="50" width="400"></td>

            </tr>
                {% for tea in schdirtea %}
                    <tr>
                        <form method="POST" action="/xInternEdit_schdirtea">
                            {{ schdirteaform.hidden_tag() }}
                            <input type="hidden" name="stuId" value="{{ student.stuId }}">
                            <input type="hidden" name="old_teaName" value="{{ tea.teaName }}">
                            <input type="hidden" name="comId" value="{{ comInfor.comId }}">
                            <input type="hidden" name="internId" value="{{ internship.Id }}">
                            <td height="50">{{ schdirteaform.steaName(required='', value=tea.teaName,class="form-control",list="teachers") }}</td>
                            {{ schdirteaform.csrf_token }}
                            <td>{{ schdirteaform.submit(class="btn btn-danger",type="submit", value="确定修改") }}</td>
                        </form>
                    </tr>
            {% endfor %}
                <!-- 校内指导老师提示列表 -->
                <datalist id="teachers">
                {% for tea in teachers %}
                 <option value="{{tea.teaName}}">
                 {% endfor %}
                </datalist>
        <tr>
            <td width="200" colspan="7" height="50">四、实习协议书</td>
        </tr>
        {% if imageName %}
         <tr>
            <td height="50">文件名</td>
            <td  height="50">操作</td>
        </tr>
        {% endif %}
        {% for name in imageName %}
        <tr><td height="50">{{name}}</td>       
        <td><a href="{{ url_for('.xInternEdit',filename=name,stuId=student.stuId,internId=internship.Id) }}">删除</a></td></tr>
        {% endfor %}
        <td width="200" colspan="7" height="50">添加实习协议书</td>
        <tr><td colspan="7" height="50">
        <form method="POST" enctype="multipart/form-data">
        <input id="file-1" type="file" class="file" multiple=""  name="image" data-overwrite-initial="false" data-min-file-count="1">
        <h5><small>仅支持jpe、png、gif、pdf格式文件上传</small></h5>
        </form>
        </td></tr>
        </table>
{% if internship.opinion %}
<table align="center" border="2" class="table-bordered">
            <tr>
                <td width="200" colspan="6" height="50">五、审核意见</td>
            </tr>
            <tr>
                <th width="200">专业意见</th>
                <td height="200" width="1000">              
                        <p>{{ internship.opinion }}</p> 
                </td>
            </tr>
        </table>
    </table>
    {% endif %}
    <br>
    <br>
<!-- <a href="{{ url_for('.xIntern',internId=internship.Id, comId=comInfor.comId, stuId=student.stuId) }}">
    <button class="btn btn-primary">返回</button>
</a> -->
    <!-- bootstrap日期选择器 -->
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            pickDate: true,
            inputMask: true,
            autoclose: true,
            todayBtn: 'linked',
            todayHighlight: true,
            minView: "month"
        });
    </script>
           <script type="text/javascript">
            $('.file').fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions : ['jpg', 'png','gif','pdf'],//接收的文件后缀,
                maxFileCount: 100,
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式             
            });
</script>
{% endblock %}
