{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}个人实习信息{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        p {
            white-space: pre-line;
        }
    </style>


    <!-- 确认请求窗口 -->
    <script type="text/javascript">
        function ComfirmDelete() {
            $('#deleteToggle').modal();
        }
        function Admin_ComfirmEdit() {
            $('#editToggle').modal();
        }
        function ComfirmCheck() {
            $('#checkToggle').modal();
        }
    </script>

    <!-- 换行显示 -->
    <style type="text/css">
        p {
            white-space: pre-line;
        }
    </style>

    <!-- 删除确认窗口 -->
    <div class="modal fade" id="deleteToggle" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:black;" id="deleteModalLabel">提示</h4>
                </div>
                <div class="modal-bodyr">
                    <h4 class="modal-body" style="color:red;" id="deleteModalLabel">删除操作将无法撤回,是否仍要删除?</h4>
                </div>
                <div class="modal-footer">
                    <!-- 用form来获取数据 -->
                    <form action="/intern_delete" method="POST">
                        <input type="hidden" name="stuId" value="{{ student.stuId }}">
                        <input type="hidden" name="internId" value="{{ internship.Id }}">
                        <input type="hidden" name="from_url" value="xIntern">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">删除</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 审核操作窗口 -->
    <div class="modal fade" id="checkToggle" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:black;" id="deleteModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    {% if internship.internCheck != 2 %}
                        <h4 class="modal-body" style="color:black;" id="deleteModalLabel">请对该实习做出审核</h4>
                    {% else %}
                        <h4 class="modal-body" style="color:red;" id="deleteModalLabel">该实习申请已审核通过,是否仍要继续?</h4>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <!-- 用form来获取数据 -->
                    <form name="xIntern_comfirm_form" action="/xIntern_comfirm" method="POST">
                        <input type="hidden" name="stuId" value="{{ student.stuId }}"/>
                        <input type="hidden" name="internId" value="{{ internship.Id }}"/>
                        {% if internship.opinion %}
                            <div style="text-align:center;">审核意见</div><textarea name="opinion" cols="70" rows="5"
                                                                                placeholder="若审核通过,意见可为空">{{ internship.opinion }}</textarea>
                            <br><br>
                        {% else %}
                            <div style="text-align:center;">审核意见</div>
                            <textarea name="opinion" cols="70" rows="5" placeholder="若审核通过,意见可为空"></textarea><br><br>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" name="internCheck" value="2" class="btn btn-success">审核通过</button>
                        <button type="submit" name="internCheck" value="1" class="btn btn-primary">退回修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 已审核状态下,老师确认修改窗口 -->
    <div class="modal fade" id="editToggle" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:black;" id="deleteModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-body" style="color:red;" id="deleteModalLabel">
                        该实习申请已审核通过,修改实习时间有可能清空部分实习日志,是否仍要继续?</h4>
                </div>
                <div class="modal-footer">
                    <!-- 用form来获取数据 -->
                    <form action="/xInternEdit" method="POST">
                        <input type="hidden" name="stuId" value="{{ student.stuId }}">
                        <input type="hidden" name="internId" value="{{ internship.Id }}">
                        <input type="hidden" name="comId" value="{{ comInfor.comId }}">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">继续</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}<!--先执行父模板-->
{% block page_content %}
    <!--Excel导出-->
    <form id="export_form" method="post">
        <input type="hidden" name="isexport" value="1">
    </form>

    <table align="center" border="2" class="table-bordered">
        <caption>
            <h1>
                {% if current_user.can(Permission.STU_INTERN_SEARCH) %}
                    {{ student.stuName }}的实习信息
                {% else %}
                    我的实习信息
                {% endif %}


                <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                                data-toggle="dropdown">更多<span class="caret"></span>
                        </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:{}" onclick="document.getElementById('export_form').submit();">导出到Excel</a></li>
                        <li class="divider"></li>

                        <!-- 未通过审核的 -->
                        {% if internship.internCheck != 2 %}
                            {% if current_user.can(Permission.STU_INTERN_EDIT) or current_user.roleId==0 or schdirtea_can %}
                                {% if current_user.can(Permission.STU_INTERN_CHECK) or schdirtea_can %}
                                    <li><a onClick="ComfirmCheck()">审核</a></li>
                                {% endif %}
                                <li>
                                    <a href="{{ url_for('main.xInternEdit',comId=comInfor.comId, internId=internship.Id, stuId=student.stuId) }}">修改</a>
                                </li>
                                <li><a onClick="ComfirmDelete()">删除</a></li>
                            {% endif %}

                        <!-- 通过审核的 -->
                        {% elif current_user.can(Permission.STU_INTERN_CHECK) or schdirtea_can %}
                            <li><a onClick="ComfirmCheck()">审核</a></li>
                            <li>
                                <a href="{{ url_for('main.xInternEdit',comId=comInfor.comId, internId=internship.Id, stuId=student.stuId) }}">修改</a>
                            </li>
                            <li><a onClick="ComfirmDelete()">删除</a></li>
                        {% endif %}

                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('.xJournal', internId=internship.Id, stuId=student.stuId) }}">实习日志</a>
                        </li>
                        <li>
                            <a href="{{ url_for('.xSum', internId=internship.Id, stuId=student.stuId, from_url='xIntern') }}">实习总结与成果</a>
                        </li>

                    </ul>
                </div>




            </h1>
            {% if internship.internCheck == 0 %}
                <span class="label label-warning">待审核</span>
            {% elif internship.internCheck == 1 %}
                <span class="label label-primary">退回待修改</span>
            {% elif internship.internCheck == 2 %}
                <span class="label label-info">已审核</span>
            {% endif %}
        </caption>

        <tr>
            <td colspan="6" height="50">一、学生信息</td>
        </tr>
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50" colspan="3">
                {{ student.stuId }}
            </td>
            <th width="200">姓名</th>
            <td width="400" height="50" colspan="3">{{ student.stuName }}</td>
        </tr>
        <tr>
            <th width="200">性别</th>
            <td width="400" height="50" colspan="3">
                {{ student.sex }}
            </td>
            <th width="200">专业班级</th>
            <td width="400" height="50" colspan="3">{{ student.major }}{{ student.classes }}班</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">二、实习企业信息</td>
        </tr>
        <tr>
            <th>企业名称</th>
            <td height="50" width="400" colspan="5">{{ comInfor.comName }}</td>
        </tr>
        <tr>
            <th>企业地址</th>
            <td height="50" width="400" colspan="5">{{ comInfor.comAddress }}</td>
        </tr>
        <tr>
            <th>企业简介</th>
            <td height="200" width="400" colspan="5">{{ comInfor.comBrief }}</td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">三、实习岗位信息</td>
        </tr>
        <tr>
            <th>实习地点</th>
            <td width="400" height="50" colspan="5">{{ internship.address }}</td>
        </tr>
        <tr>
            <th>实习期间</th>
            <td width="400" height="50" colspan="5">{{ internship.start }}至{{ internship.end }}
            </td>
        </tr>
        <tr>
            <th>工作任务</th>
            <td width="400" height="200" colspan="5"><p>{{ internship.task }}</p></td>
        </tr>
        <tr>
            <td width="200" colspan="6" height="50">四、实习指导老师</td>
        </tr>
        <table align="center" border="2" class="table-bordered">
            <tr>
                <th height="50" colspan="6">企业老师</th>
            </tr>
            <tr>
                <td height="50" width="300">姓名</td>
                <td height="50" width="300">职务/职称</td>
                <td height="50" width="300">电话</td>
                <td height="50" width="300">E-mail</td>
            </tr>
            {% for tea in comdirtea %}
                {% if tea.cteaName %}
                    <tr>
                        <td height="50">{{ tea.cteaName }}</td>
                        <td height="50">{{ tea.cteaDuty }}</td>
                        <td height="50">{{ tea.cteaPhone }}</td>
                        <td height="50" colspan="2">{{ tea.cteaEmail }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <table align="center" border="2" class="table-bordered">
            <tr>
                <th height="50" colspan="6">校内老师</th>
            </tr>
            <tr>
                <td height="50" width="240">教工号</td>
                <td height="50" width="240">姓名</td>
                <td height="50" width="240">职务/职称</td>
                <td height="50" width="240">电话</td>
                <td height="50" width="240">E-mail</td>
            </tr>
            {% for tea in schdirtea %}
                {% if tea.steaName %}
                    <tr>
                        <td height="50">{{ tea.teaId }}</td>
                        <td height="50">{{ tea.steaName }}</td>
                        <td height="50">{{ tea.steaDuty }}</td>
                        <td height="50">{{ tea.steaPhone }}</td>
                        <td height="50" colspan="2">{{ tea.steaEmail }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td width="200" colspan="6" height="50">五、审核意见</td>
            </tr>
            <tr>
                <th width="200">专业意见</th>
                <td height="200" colspan="5">
                    {% if internship.opinion %}
                        <p>{{ internship.opinion }}</p>
                    {% else %}
                        暂无
                    {% endif %}
                </td>
            </tr>
        </table>
    </table>
    <br>
    <br><a href="{{ url_for('.stuInternList') }}">
    <div class="btn btn-primary">返回</div>
</a>
{% endblock %}

