{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}我的实习信息{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block page_content %}
    <table class="table" id="t">
        <thead>
        {% if current_user.roleId==0 %}
        <h1>我的实习日志</h1>
        {% else %}
        <h1>{{ student.stuName }}的实习日志</h1>
        {% endif %}
        <tr>
            <th>日志名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>实习状态</th>
            <!--
            <th>操作</th>
            -->
        </tr>
        </thead>
        <tbody>
        {% for intern in internlist %}
            <tr>
                <td><a href="{{ url_for('.xJournal', internId=intern.Id, stuId=student.stuId) }}">我在{{ intern.comName}}的日子</a>
                <td>{{ intern.start }}</td>
                <td>{{ intern.end }}</td>
                {% if intern.internStatus==0 %}
                    <td>实习中</td>
                {% else %}
                    <td>实习结束</td>
                {% endif %}
                <!--
                <td><a href="#">修改</a><a href="#">|删除</a></td>
                -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}