{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}

{% block head %}
    {{ super() }}
<style type="text/css">
        #mon {
            height: 290px;
        }
        #tue {
            height: 290px;
        }
        #wed {
            height: 290px;
        }
        #thu {
            height: 290px;
        }
        #fri {
            height: 290px;
        }
        #sat {
            height: 290px;
        }
        #sun {
            height: 290px;
        }
        #exceed 
        {border:1px solid red;}
</style>
<script type="text/javascript">
    function checkJournal(){
        var str="日志字数30-1000，若请假或放假期间没有工作日志请输入“请假”或“放假”二字即可。"
        var mon=$('#mon');
        var tue=$('#tue');
        var wed=$('#wed');
        var thu=$('#thu');
        var fri=$('#fri');
        var flag1=true;
        var flag2=true;
        var flag3=true;
        var flag4=true; 
        var flag5=true;        
        if(mon.val()!==undefined)
            if(mon.val().toString().replace(" ","")=="请假"||mon.val().toString().replace(" ","")=="放假"){
                flag1=true;
            }
            else if(mon.val().length>1000||mon.val().length<30||mon.val()==str){
                flag1=false;
            }

        if(tue.val()!==undefined)
            if(tue.val().toString().replace(" ","")=="请假"||tue.val().toString().replace(" ","")=="放假"){
                flag2=true;
            }
            else if(tue.val().length>1000||tue.val().length<30||tue.val()==str){
                flag2=false;
            }
        if(wed.val()!==undefined)
            if(wed.val().toString().replace(" ","")=="请假"||wed.val().toString().replace(" ","")=="放假"){
                flag3=true;
            }
            else if(wed.val().length>1000||wed.val().length<30||wed.val()==str){
                flag3=false;
            }

        if(thu.val()!==undefined)
            if(thu.val().toString().replace(" ","")=="请假"||thu.val().toString().replace(" ","")=="放假"){
                flag4=true;
            }
            else if(thu.val().length>1000||thu.val().length<30||thu.val()==str){
                flag4=false;
            }

        if(fri.val()!==undefined)
            if(fri.val().toString().replace(" ","")=="请假"||fri.val().toString().replace(" ","")=="放假"){
                flag5=true;
            }
            else if(fri.val().length>1000||fri.val().length<30||fri.val()==str){
                flag5=false;
            }

        if(!(flag1&&flag2&&flag3&&flag4&&flag5)){
            alert("周一至周五日志字数请确保在30字到1000字范围内！若请假或放假期间没有工作日志，请直接在日志中输入“请假”或“放假”二字！");
        }
        return flag1&&flag2&&flag3&&flag4&&flag5;
    }
</script>
<script type="text/javascript">
var str="日志字数30-1000，若请假或放假期间没有工作日志请输入“请假”或“放假”二字即可。"
    $(document).ready(function(){
        var mon=document.getElementById("mon");
        var tue=document.getElementById("tue");
        var wed=document.getElementById("wed");
        var thu=document.getElementById("thu");
        var fri=document.getElementById("fri");
        if(mon!=null)
            // 不知道为何这个value是" ",，而my_click的value是""
            if(mon.value==" ")
                mon.value=str;
        if(tue!=null)
            if(tue.value==" ")
                tue.value=str;
        if(wed!=null)
            if(wed.value==" ")
                wed.value=str;
        if(thu!=null)
            if(thu.value==" ")
                thu.value=str;
        if(fri!=null)
            if(fri.value==" ")
                fri.value=str;
    });
function my_click(obj, myid){
    if (document.getElementById(myid).value == str){
      document.getElementById(myid).value = '';
      obj.style.color='#000';
    }
}
function my_blur(obj, myid){
    if (document.getElementById(myid).value ==""){
     document.getElementById(myid).value = str
     obj.style.color='#999';
 }
}
</script>
{% endblock %}<!--先执行父模板-->

{% block title %}实习日志{% endblock %}

{% block page_content %}
     
    <div class="page-`er">
    <h1>我的实习日志</h1>
    
        <!-- 总体日志审核 -->
        {% if needCheck == 0 %}
        <div><span class="label label-info" >已审核</span></div>
        {% else %}
        <span class="label label-warning">待审核...</span>
        {% endif %}
        <br><br>
        <span class="label label-danger">日志至少写满四周，审核老师方能审核。</span>

    </div>
    <table align="center" border="2" class="table-bordered">
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50">{{ student.stuId }}</td>
            <th width="200">专业班级</th>
            <td width="400" height="50">{{ student.major }}{{ student.classes }}班</td>
        </tr>
        <tr>
            <th width="200">姓名</th>
            <td width="400" height="50">{{ student.stuName }}</td>
            <th width="200">实习单位</th>
            <td width="400" height="50">{{ comInfor.comName }}</td>
        </tr>
        <tr>
            <th width="200">实习期间</th>
            <td height="50">{{ internship.start }} 至 {{ internship.end }} </td>
        </tr>
    </table>
    <br>
    <table align="center" border="2" class="table-bordered">
    <form method="POST" action="/xJournalEditProcess?jourId={{ jour.Id}}" onsubmit="return checkJournal()">
        {% set weekday2ch = {1:'一', 2:'二', 3:'三', 4:'四', 5:'五', 6:'六', 7:'日'} %}
        {% set cur = jour.workStart.isoweekday() %}
        {% set cur_end = jour.workEnd.isoweekday() %}
        <tr>
            <th width="200" height="50">第{{ jour.weekNo }}周</th>
            <th width="100" height="50">星期</th>
            <th width="900" height="50">工作内容</th>
        </tr>
        
        {% if cur==1 and cur_end==7 %}
            <tr>
                <th height="50">{{ jour.workStart }}至{{ jour.workEnd }}</th>
                <td height="50">一</td>
                {% set temp=jourform.mon.process_data(jour.mon) %}
                <td height="300">{{ jourform.mon(class="form-control",onclick="my_click(this, 'mon');",onBlur="my_blur(this, 'mon');") }}<span></span></td>
            </tr>
            <tr>
                <th></th>
                <td height="50">二</td>
                {% set temp=jourform.tue.process_data(jour.tue) %}
                <td height="300">{{ jourform.tue(class="form-control",onclick="my_click(this, 'tue');",onBlur="my_blur(this, 'tue');") }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">三</td>
                {% set temp=jourform.wed.process_data(jour.wed) %}
                <td height="300">{{ jourform.wed(class="form-control",onclick="my_click(this, 'wed');",onBlur="my_blur(this, 'wed');") }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">四</td>
                {% set temp=jourform.thu.process_data(jour.thu) %}
                <td height="300">{{ jourform.thu(class="form-control",onclick="my_click(this, 'thu');",onBlur="my_blur(this, 'thu');") }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">五</td>
                {% set temp=jourform.fri.process_data(jour.fri) %}
                <td height="300">{{ jourform.fri(class="form-control",onclick="my_click(this, 'fri');",onBlur="my_blur(this, 'fri');") }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">六</td>
                {% set temp=jourform.sat.process_data(jour.sat) %}
                <td height="300">{{ jourform.sat(class="form-control") }}</td>
            </tr>
            <tr>
                <th></th>
                <td height="50">日</td>
                {% set temp=jourform.sun.process_data(jour.sun) %}
                <td height="300">{{ jourform.sun(class="form-control") }}</td>
            </tr>
        {% else %}

            <tr>
                <th height="50">{{ jour.workStart }}至{{ jour.workEnd }}</th>
                <td height="50">{{ weekday2ch[cur] }}</td>
                {% if cur==1 %}
                    {% set temp=jourform.mon.process_data(jour.mon) %}
                    <td height="300">{{ jourform.mon(class="form-control",onclick="my_click(this, 'mon');",onBlur="my_blur(this, 'mon');") }}</td>
                {%elif cur==2 %}
                    {% set temp=jourform.tue.process_data(jour.tue) %}
                    <td height="300">{{ jourform.tue(class="form-control",onclick="my_click(this, 'tue');",onBlur="my_blur(this, 'tue');") }}</td>
                {%elif cur==3 %}
                    {% set temp=jourform.wed.process_data(jour.wed) %}
                    <td height="300">{{ jourform.wed(class="form-control",onclick="my_click(this, 'wed');",onBlur="my_blur(this, 'wed');") }}</td>
                {%elif cur==4 %}
                    {% set temp=jourform.thu.process_data(jour.thu) %}
                    <td height="300">{{ jourform.thu(class="form-control",onclick="my_click(this, 'thu');",onBlur="my_blur(this, 'thu');") }}</td>
                {%elif cur==5 %}
                    {% set temp=jourform.fri.process_data(jour.fri) %}
                    <td height="300">{{ jourform.fri(class="form-control",onclick="my_click(this, 'fri');",onBlur="my_blur(this, 'fri');") }}</td>
                {%elif cur==6 %}
                    {% set temp=jourform.sat.process_data(jour.sat) %}
                    <td height="300">{{ jourform.sat(class="form-control") }}</td>
                {%elif cur==7 %}
                    {% set temp=jourform.sun.process_data(jour.sun) %}
                    <td height="300">{{ jourform.sun(class="form-control") }}</td>
                {% endif %}
            </tr>
            {% set cur_last = (jour.workEnd.isoweekday() - jour.workStart.isoweekday()) %}
            {% for x in range(cur_last) %}
                <tr>
                    <th></th>
                    <td height="50">{{ weekday2ch[cur+x+1] }}</td>
                    {%if cur+x+1==2 %}
                        {% set temp=jourform.tue.process_data(jour.tue) %}
                        <td height="300">{{ jourform.tue(class="form-control",onclick="my_click(this, 'tue');",onBlur="my_blur(this, 'tue');") }}</td>
                    {%elif cur+x+1==3 %}
                        {% set temp=jourform.wed.process_data(jour.wed) %}
                        <td height="300">{{ jourform.wed(class="form-control",onclick="my_click(this, 'wed');",onBlur="my_blur(this, 'wed');") }}</td>
                    {%elif cur+x+1==4 %}
                        {% set temp=jourform.thu.process_data(jour.thu) %}
                        <td height="300">{{ jourform.thu(class="form-control",onclick="my_click(this, 'thu');",onBlur="my_blur(this, 'thu');") }}</td>
                    {%elif cur+x+1==5 %}
                        {% set temp=jourform.fri.process_data(jour.fri) %}
                        <td height="300">{{ jourform.fri(class="form-control",onclick="my_click(this, 'fri');",onBlur="my_blur(this, 'fri');") }}</td>
                    {%elif cur+x+1==6 %}
                        {% set temp=jourform.sat.process_data(jour.sat) %}
                        <td height="300">{{ jourform.sat(class="form-control") }}</td>
                    {%elif cur+x+1==7 %}
                        {% set temp=jourform.sun.process_data(jour.sun) %}
                        <td height="300">{{ jourform.sun(class="form-control") }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        <input type="hidden" name="jourId" value="{{ jour.Id }}">
        <input type="hidden" name="stuId" value="{{ student.stuId }}">
        <input type="hidden" name="internId" value="{{ internship.Id }}">
        <input type="hidden" name="page" value="{{ page }}">
        <input type="hidden" name="weekNo" value="{{ jour.weekNo }}">
        <tr><td colspan="6" align="center">{{ jourform.submit(class="btn btn-success", type="submit", id="finish", width="100") }}</td></tr>
    </form>

</table>
{% endblock %}

