{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}

{% block head %}
    {{ super() }}
    <!-- 确认删除窗口 -->
    <script type="text/javascript">
        function ComfirmDelete() {
            $('#deleteToggle').modal();
        }
    </script>
    <style type="text/css">
    p {white-space: pre-line;}
    </style>

    <!-- 在线阅读 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width"/>
    <style type="text/css" media="screen">
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        #flashContent {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/Flexpaper/css/flexpaper.css"/>
    <script type="text/javascript" src="/static/Flexpaper/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/Flexpaper/js/flexpaper.js"></script>
    <script type="text/javascript" src="/static/Flexpaper/js/flexpaper_handlers.js"></script>
{% endblock %}<!--先执行父模板-->

{% block title %}实习总结与成果{% endblock %}

{% block page_content %}
      <!-- 删除确认窗口 -->
    <div class="modal fade" id="deleteToggle" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:black;" id="deleteModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-body" style="color:red;" id="deleteModalLabel">日志将会连同实习信息一起删除,且删除操作将无法撤回,是否仍要删除</h4>
            </div>
            <div class="modal-footer">
                <!-- 用form来获取数据 -->
                <form action="/comfirmDeleteJournal_Intern" method="POST">
                <input type="hidden" name="internId" value="{{ internship.Id }}">
                <input type="hidden" name="from_url" value="/xJournal">
                <input type="hidden" name="stuId" value="{{ student.stuId }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>1
                <button type="submit" class="btn btn-primary" >删除</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="page-`er">
    {% if current_user.roleId==0 %}
        <h1>我的实习总结与成果
    {% else %}
        <h1>{{ student.stuName }}的实习总结与成果
    {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggled btn-sm"
                        data-toggle="dropdown">编辑<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a onClick="ComfirmDelete()">删除</a></li>
                    <li><a href="{{ url_for('.xSum_fileManager', stuId=student.stuId, internId=internship.Id) }}">文件管理</a></li>
                </ul>
            </div>
        </h1>

    <!-- 日志总体审核情况 -->
    {% if internship.jourCheck == 0 %}
        <span class="label label-warning">待审核...</span>
    {% else %}
        <span class="label label-info">已审核</span>
    {% endif %}
        <br><br>

    </div>


    <table align="center" border="2" class="table-bordered">
        <tr>
            <th width="200">学号</th>
            <td width="400" height="50">{{ student.stuId }}</td>
            <th width="200">专业班级</th>
            <td width="400" height="50">{{ student.major }}{{ student.classes }}班</td>
        </tr>
        <tr>
            <th width="200">姓名</th>
            <td width="400" height="50">{{ student.stuName }}</td>
            <th width="200">实习单位</th>
            <td width="400" height="50">{{ comInfor.comName }}</td>
        </tr>
        <tr>
            <th width="200">实习期间</th>
            <td width="400" height="50">{{ internship.start }} 至 {{ internship.end }} </td>
            <th width="200">评分成绩</th>
            <td width="400" height="50">{{ summary.sumScore }} 
                <a href='{{ url_for('.xSumScore', stuId=student.stuId, internId=internship.Id) }}'><span class="label label-info">详情<span></a>
            </td>
        </tr>
    </table>
    <br>

    <h2>附件</h2>
    <table class="table" id="t">
        <thead>
        <tr>
            <th>文件名</th>
            <th>大小</th>
            <th>修改时间</th>
        </tr>
        </thead>
        <tbody>
        {% for attach in attachment %}
            <tr>
                <!-- 提供下载的form -->
                <form id="{{ attach }}" method="post">
                    <input type="hidden" name="attachment_download" value="{{ attach }}" >
                </form>
                <td><a href="javascript:{}" onclick="document.getElementById('{{ attach }}').submit();">{{ attach }}</a></td>
                <td>{{ attachment[attach]['fsize'] }}</td>
                <td>{{ attachment[attach]['mtime'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>实习总结</h2> <a href="#"><span class="label label-primary">全文下载</span></a>
    <br><br>
    <p>这里是在线阅读<p>
    <p>这里是在线阅读<p>
    <p>这里是在线阅读<p>
{% endblock %}
