{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html"as macros %}

{% block head %}
    {{ super() }}
                <!-- 文件上传 -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/CSS/fileinput.min.css">
    <script type="text/javascript" src="/static/JS/fileinput.min.js" charset="UTF-8"></script>
    <script src="/static/JS/locales/fileinput_locale_zh.js" charset="utf-8"></script>
     <!-- 上传等待 -->
<style>
.loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:300;
    background-image:url(static/loading.gif);
    background-repeat:no-repeat;
    background-position:center center;
    background-color:#000;
    background-color:rgba(0,0,0,0.5);
    filter:alpha(opacity=50);
}
</style>
<script type="text/javascript">
        function getLoading() {
            if((($('#comfile')).val()!==undefined&&($('#comfile')).val()!=="")||(($('#schfile')).val()!==undefined&&($('#schfile')).val()!=="")||(document.getElementById("comScoreFile")!=null&&document.getElementById("schScoreFile")!=null)){
            document.getElementById("ddd").setAttribute('class', 'loading');
            return true;
        }
        else
            alert("请先填写和上传相关信息和文档！")
            return false;
    }
</script>
{% endblock %}<!--先执行父模板-->

{% block title %}实习总结与成果{% endblock %}

{% block page_content %}
    {% if current_user.roleId==0 or current_user.can(Permission.STU_SUM_EDIT) %}
        <div class="page-`er">
            {% if current_user.roleId==0 %}
                <h1>我的实习评分
            {% else %}
                <h1>{{ student.stuName }}的实习评分
            {% endif %}
        </div><br>


        <table align="center" border="2" class="table-bordered">
            <tr>
                <th width="200">学号</th>
                <td width="400" height="50">{{ student.stuId }}</td>
                <th width="200">专业班级</th>
                <td width="400" height="50">{{ student.major }}{{ student.classes }}班</td>
            </tr>
            <tr>
                <th width="200">姓名</th>
                <td width="400" height="50">{{ student.stuName }}</td>
                <th width="200">实习单位</th>
                <td width="400" height="50">{{ comInfor.comName }}</td>
            </tr>
            <tr>
                <th width="200">实习期间</th>
                <td width="400" height="50">{{ internship.start }} 至 {{ internship.end }} </td>
            </tr>
        </table>
        <br>

        <form id="sb" action="{{ url_for('.xSumScoreEdit',internId=internship.Id,stuId=student.stuId) }}" method="POST"
              enctype=multipart/form-data onsubmit="return getLoading()">
            {{ form.hidden_tag() }}
            <input type="hidden" name="action" value="upload">
            <h3><b>总分录入</b></h3>
            <table align="center" border="2" class="table-bordered">
                <tr>
                    <th width="200">
                        {{ form.comScore.label }}</th>
                    <td width="400"
                        height="50">
                        {% if summary.comScore %}
                        {{ form.comScore(class="form-control",request='',value=summary.comScore) }}
                        {% else %}
                        {{ form.comScore(class="form-control",request='',placeholder="暂无") }}
                        {% endif %}
                        </td>
                    <th width="200"> {{ form.schScore.label }}</th>
                    <td width="400"
                        height="50">
                        {% if summary.schScore %}
                        {{ form.schScore(class="form-control",request='',value=summary.schScore) }}
                        {% else %}
                        {{ form.schScore(class="form-control",request='',placeholder="暂无") }}
                        {% endif %}</td>
                </tr>
                <tr>
                    <th width="200">企业实习评分表</th>
                    <td width="400"
                        height="50">
                        {% if 'comscore' in file_path.keys() %}
                            {{ file_path['comscore'] }}&nbsp;&nbsp;&nbsp;<a id="comScoreFile" href="javascript:{}"
                                                                            onclick="document.getElementById('comscore_delete').submit();">删除</a>
                        {% else %}
                        <h5><small>
                            {{ form.comfile(class='file') }}
                            仅支持jpg、png、gif格式图片上传</small></h5>
                        {% endif %}
                    </td>
                    <th width="200">校内评分表</th>
                    <td width="400"
                        height="50">
                        {% if 'schscore' in file_path.keys() %}
                            {{ file_path['schscore'] }}&nbsp;&nbsp;&nbsp;<a id="schScoreFile" href="javascript:{}"
                                                                            onclick="document.getElementById('schscore_delete').submit();">删除</a>
                        {% else %}
                            <h5><small>{{ form.schfile(class='file') }}仅支持jpg、png、gif格式图片上传</small></h5>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        {#    #delete score of company#}
        <form id="schscore_delete" method="post">
            <input type="hidden" name="action" value="schscore_delete">
            <input type="hidden" name="filename" value="schscore/{{ file_path['schscore'] }}">
        </form>
        {#    #delete score of school#}
        <form id="comscore_delete" method="post">
            <input type="hidden" name="action" value="comscore_delete">
            <input type="hidden" name="filename" value="comscore/{{ file_path['comscore'] }}">
        </form>
    {% endif %}
    <br><span class="label label-danger">注意</span>
    <br>*&nbsp&nbsp校内外实习评分表只允许各上传一份，若要重新上传，请先删除原评分表
    <br>*&nbsp&nbsp请在纸质评分表上签名, 并拍照上传
    <div id="ddd"></div>
{% endblock %}
  {% block scripts %}
            <script type="text/javascript">
            $('.file').fileinput({
                language: 'zh', //设置语言
                maxFileCount: 100,
                allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
                showUpload: false, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-default", //按钮样式             
            });
</script>
{% endblock %}